@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@import "vendors/owl.carousel";
@import "vendors/aos";
@import "vendors/font-awesome";
@import "vendors/jquery-ui";

@include foundation-global-styles;
@include foundation-grid;
@include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

@include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

[type="search"] {
  box-shadow: none;
  &:focus {
    box-shadow: none;
  }
}

input::placeholder, textarea::placeholder {
  color: $text-placeholder;
}

.lead {
  @include breakpoint(mobile down) {
    font-size: 120%;
  }
}

@import "components/triangle";
@import "components/row-zero-padding";
@import "components/button";
@import "components/textbox";
@import "components/navbar";
@import "components/hamburger";
@import "components/burger";
@import "components/notification";
@import "components/message";
@import "components/hero";
@import "components/scroll";
@import "components/header";
@import "components/footer";
@import "components/utilities";

// Sliders
@import 'components/building-blocks/fullscreen-image-slider';
@import 'components/building-blocks/image-slider';

// Template Homepage
@import "components/building-blocks/platforms";
@import "components/building-blocks/testimonial-slider";
@import "components/building-blocks/twitter-cards";
@import "components/building-blocks/hero-laptop";

// Template Agency
@import "components/building-blocks/portfolio-slider";
@import "components/building-blocks/portfolio-cards";
@import "components/building-blocks/team";

// Template Device
@import "components/building-blocks/header-full-img-cta-video";
@import "components/building-blocks/bg-img-card-center";
@import "components/building-blocks/features-6-img";
@import "components/building-blocks/bg-img-card";
@import "components/building-blocks/cta-alternative";
@import "components/building-blocks/cta-bg-img";

// Template Service
@import "components/building-blocks/header-register";
@import "components/building-blocks/features-3-devices";
@import "components/building-blocks/integration";
@import "components/building-blocks/promo-laptop";
@import "components/building-blocks/features-6-no-icon";
@import "components/building-blocks/subscribe";

// Template Studio
@import 'components/building-blocks/owl-header';
@import 'components/building-blocks/latest-post';
@import 'components/building-blocks/portfolio-tabs';
@import 'components/building-blocks/clients';
@import 'components/building-blocks/team-thumbnails';
@import 'components/building-blocks/footer-address';

// Template Webapp
@import 'components/building-blocks/header-clear-bg';
@import 'components/building-blocks/features-steps';
@import 'components/building-blocks/promo-tablet';
@import 'components/building-blocks/features-steps-vertical';
@import 'components/building-blocks/testimonial-slider-img';
@import 'components/building-blocks/pricing';

// Template Ecommerce
@import 'components/building-blocks/header-products';
@import 'components/building-blocks/ecommerce-1';
@import 'components/building-blocks/blog';
@import 'components/building-blocks/newsletter';
@import 'components/building-blocks/footer-complete';

// Template Ecommerce2
@import 'components/building-blocks/header-product';
@import 'components/building-blocks/ecommerce-2';
@import 'components/building-blocks/carousel';
@import 'components/building-blocks/features-img-circle';
@import 'components/building-blocks/footer-address-centered';

// Template Corporate
@import 'components/building-blocks/carousel-fullscreen';
@import 'components/building-blocks/portfolio-small-cards';
@import 'components/building-blocks/features-icons';
@import 'components/building-blocks/contact';

// Template Ecommerce3
@import 'components/building-blocks/ecommerce-3';
@import 'components/building-blocks/infos-tabs';
@import 'components/building-blocks/video';
@import 'components/building-blocks/portfolio-images';
@import 'components/building-blocks/ecommerce-4';
@import 'components/building-blocks/cta-promo';
@import 'components/building-blocks/footer-app';

// Template Webservice
@import 'components/building-blocks/header-full-img';
@import 'components/building-blocks/features_panorama';
@import 'components/building-blocks/testimonial-slider-img-left';
@import 'components/building-blocks/pricing-2';
@import 'components/building-blocks/cta-dark';
@import 'components/building-blocks/footer-large';
