<div class="alert-box primary" data-closable>
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aliquam assumenda commodi cupiditate deleniti, ea eaque eius eum explicabo hic id maiores modi nesciunt officiis quas, quis repellendus reprehenderit sit!</p>
</div>

<div class="alert-box alert">
    <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cumque, dolor, eum ipsa ipsam nemo numquam quasi quidem, reprehenderit sit soluta tempore velit voluptas! Maiores non perspiciatis quidem saepe voluptatibus?</p>
</div>