.hamburger-button {
	position: relative;
	display: none;
	border: rem-calc(2) solid $white;
	border-radius: 50%;
	width: rem-calc(44);
	height: rem-calc(44);
	background-color: rgba($white, 0.1);
	@include breakpoint(map-get($breakpoints, mobile) down) {
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all linear $base-transition;

		svg {
			width: rem-calc(20);
			height: rem-calc(14);
			fill: $white;
		}

		&:hover {
			border-color: transparent;
			background-color: transparent;
			opacity: 0.7;
			transform: scale(1.1);
			transition: all linear $base-transition;
		}
	}
	&.show {
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all linear $base-transition;

		svg {
			width: rem-calc(20);
			height: rem-calc(14);
			fill: $white;
		}

		&:hover {
			border-color: transparent;
			background-color: transparent;
			opacity: 0.7;
			transform: scale(1.1);
			transition: all linear $base-transition;
		}
	}
}

.hamburger {
	position: fixed;
	left: -100%;
	top: rem-calc(0);
	bottom: rem-calc(0);
	z-index: 99999;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	width: 100%;
	background-color: rgba(0,0,0,.95) !important;
	&.hamburger-light {
		background-color: rgba(255,255,255,.97) !important;
		&__logo {
			&__svg {
				fill: $primary-color;
			}
		}

		&__header {
			&__close {
				right: rem-calc(15);
				top: rem-calc(50);
				border: rem-calc(2) solid $primary-color;
				&__svg {
					fill: $primary-color;
				}

				@include breakpoint(360 down) {
					right: rem-calc(20);
				}
			}
		}

		&__menu {
			li a {
				color: $primary-color;
				font-weight: 500;
				transition: all linear $base-transition;
				&:hover {
					opacity: 0.7;
					transition: all linear $base-transition;
				}
			}
		}

		&__footer {
			margin-bottom: rem-calc(45);
			p {
				color: $primary-color;
			}
		}
	}
	&.hamburger-primary {
		background-color: $primary-color !important;
		p {
			color: $white;
		}
		&__logo {
			&__svg {
				fill: $white;
			}
		}
	}
	opacity: 0;

	&__header {
		position: relative;
		display: flex;
		align-items: flex-start;
		flex: 0 0 auto;
		justify-content: center;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);

		&__logo {
			margin-top: rem-calc(45);
			margin-bottom: rem-calc(50);
			transition: all linear $base-transition;

			&__svg {
				width: rem-calc(121);
				height: rem-calc(22);
				fill: $white;

				&.small-logo {
					width: rem-calc(60);
					height: rem-calc(28);
				}
			}

			&:hover {
				opacity: 0.7;
				transition: all linear $base-transition;
			}
		}

		&__close {
			position: absolute;
			right: rem-calc(50);
			top: rem-calc(40);
			display: flex;
			align-items: center;
			justify-content: center;
			border: rem-calc(2) solid $white;
			border-radius: 50%;
			width: rem-calc(44);
			height: rem-calc(44);
			background-color: rgba($white, 0.1);
			transition: all linear $base-transition;

			&__svg {
				width: rem-calc(16);
				height: rem-calc(16);
				fill: $white;
			}

			&:hover {
				border-color: transparent;
				background-color: transparent;
				opacity: 0.7;
				transform: rotate(90deg);
				transform-origin: 50% 50%;
				transition: all linear $base-transition;
			}
		}
	}

	&__menu {
		&__list {
			list-style: none;
			margin: rem-calc(0);

			&__item {
				margin-bottom: rem-calc(30) !important;
				text-align: center;

				&__link {
					font-weight: 300;
					font-size: 22px;
					line-height: 32px;
					color: $white;
					transition: all linear $base-transition;
				}

				&.cart-item {
					position: relative;

					.cart-item-count {
						position: absolute;
						right: calc(50% - 75px);
						top: rem-calc(7);
						display: flex;
						align-items: center;
						justify-content: center;
						border-radius: 50%;
						width: rem-calc(20);
						height: rem-calc(20);
						font-weight: 500;
						font-size: rem-calc(12);
						line-height: rem-calc(14);
						color: $white;
						background-color: $secondary-color;
						cursor: pointer;
					}
				}

				&.statistic-item {
					position: relative;

					.statistic-item-image {
						position: absolute;
						right: calc(50% - 75px);
						top: rem-calc(-5);

						&-svg {
							width: rem-calc(25);
							height: rem-calc(20);
							fill: $secondary-color;
						}
					}
				}
			}
		}
	}

	&__social {
		margin-bottom: rem-calc(45);
		.fab {
			color: $white;
		}
		&__title {
			margin-bottom: rem-calc(12);
			font-weight: 400;
			font-size: 16px;
			line-height: 25px;
			text-align: center;
			color: $white;
			opacity: 0.6;
		}

		&__block {
			display: flex;
			justify-content: center;

			&__item {
				margin-right: rem-calc(30);
				transition: all linear $base-transition;

				&__svg {
					width: rem-calc(23);
					height: rem-calc(23);
					fill: $white;
				}

				&:last-child {
					margin-right: rem-calc(0);
				}

				&:hover {
					opacity: 0.7;
					transition: all linear $base-transition;
				}
			}
		}
	}

	&__footer {
		margin-bottom: rem-calc(30);
	}
}