$header-full-height: 100vh;
$header-full-mobile-height: 75vh;

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &.header-full {
    min-height: $header-full-mobile-height;
    @include breakpoint(medium) {
      min-height: $header-full-height;
    }
  }

  &.header-primary {
    background-color: $primary-color;
  }

  &__middle {
    text-align: center;

    &__title {
      margin-bottom: rem-calc(20);
      text-align: center;
      color: $white;
    }

    &__subheading {
      margin: 0 auto rem-calc(48);
      max-width: rem-calc(450);
      @include breakpoint(xlarge) {
        max-width: rem-calc(550);
      }
      text-align: center;
      color: rgba($white, 0.8);
    }

    &__button {
      margin-bottom: 3rem;
      padding-right: rem-calc(15);
      padding-left: rem-calc(15);
      width: rem-calc(356);
      max-width: 100%;

      &__icon {
        margin: rem-calc(-5 20 0 0);
        width: rem-calc(10);
        height: rem-calc(18);
        fill: $white;
      }
    }

    &__alter {
      display: flex;
      justify-content: space-between;
      margin-bottom: 3rem;

      &__line {
        flex-grow: 2;
        border-bottom: solid rem-calc(1) rgba($white, 0.2);

        &.item-01 {
          margin-right: rem-calc(30);
        }

        &.item-02 {
          margin-left: rem-calc(30);
        }
      }

      &__text {
        margin-bottom: rem-calc(-8);
        font-weight: 400;
        font-size: rem-calc(16);
        line-height: rem-calc(21);
        color: rgba($white, 0.8);
      }
    }
  }

  &__bottom {
    @include breakpoint(mobile down) {
      padding-bottom: 1rem;
    }
    &__form {
      margin: 0 auto;
      width: rem-calc(750);

      &__row {
        margin-bottom: 0;
      }

      &__textbox {
        display: block;
        margin-bottom: rem-calc(16);
        width: 100%;

        .textbox__input {
          border-color: rgba($white, 0.2);
          background-color: transparent;
        }
      }

      &__button {
        display: block;
        margin-bottom: rem-calc(16);
        width: 100%;
      }
    }

    &__description {
      font-weight: 400;
      font-size: rem-calc(15);
      line-height: rem-calc(19);
      text-align: center;
      color: rgba($white, 0.8);
    }

    &__scroll {
      padding-bottom: 2rem;
    }

  }

  .video__popup {
    position: fixed;
    left: rem-calc(0);
    right: rem-calc(0);
    top: rem-calc(0);
    bottom: rem-calc(0);
    z-index: 999;
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);

    &__item {
      display: flex;
      align-items: center;
      flex: 0 0 100%;
      justify-content: center;
      height: 100%;

      iframe {
        width: 70%;
        height: 65%;

        @include breakpoint(map-get($breakpoints, mobile) down) {
          height: 30%;
        }
      }
    }

    &__close {
      position: absolute;
      right: rem-calc(60);
      top: rem-calc(40);
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid $white;
      border-radius: 50%;
      width: rem-calc(45);
      height: rem-calc(45);
      background-color: $gray-darkest;
      cursor: pointer;
      transition: all linear $base-transition;

      &:hover {
        opacity: 0.8;
        transition: all linear $base-transition;
      }

      &__svg {
        width: rem-calc(13);
        height: rem-calc(13);
        fill: $white;
      }

      @include breakpoint(mobile down) {
        right: rem-calc(15);
        top: rem-calc(15);
      }
    }
  }

  .scroll {
    position: relative;
    display: block;
    margin: 0 auto;
    outline: none;
    border: solid rem-calc(2) rgba($white, 0.2);
    border-radius: rem-calc(14);
    width: rem-calc(18);
    height: rem-calc(28);
    background-color: rgba($white, 0.1);
    cursor: pointer;
    transition: border-color $base-transition, background-color $base-transition;
    &.primary {
      border: solid rem-calc(2) rgba($primary-color, 0.2);
      background-color: rgba($primary-color, 0.1);
      &::before {
        background-color: rgba($primary-color, 0.6);
      }
      &:focus,
      &:hover {
        border-color: rgba($primary-color, 0.4);
        background-color: rgba($primary-color, 0.6);
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: rem-calc(6);
      margin-left: rem-calc(-2);
      border-radius: rem-calc(2);
      width: rem-calc(4);
      height: rem-calc(6);
      background-color: rgba($white, 0.6);
      transition: background-color $base-transition;
    }

    &:focus,
    &:hover {
      border-color: $secondary-color;
      background-color: $secondary-color;

      &::before {
        fill: $white;
      }
    }
  }

  @include breakpoint(medium down) {
    &__middle {

    }

    &__bottom {

    }
  }

  @include breakpoint(mobile down) {
    &__middle {
      padding-top: rem-calc(30);
      .button {
        margin-bottom: rem-calc(20);
      }
      &__title{
        margin-bottom: rem-calc(10);
      }
      &__subheading {
        margin-bottom: rem-calc(20);
      }
    }

    &__bottom {
    }
  }

}