.message {
  @include callout-base;
  padding: 0;
  border: 1px solid $primary-color;
  header {
    background-color: $primary-color;
    border-radius: $global-radius $global-radius 0 0;
    color: $white;
    font-weight: 500;
    line-height: 1.25;
    padding: 0.5em 0.75em;
    p, h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0;
    }
    button {
      background-color: darken($primary-color, 10);
      &:hover {
        background-color: darken($primary-color, 15);
      }
      border-radius: 9999px;
      line-height: .55;
      padding: .15em;
      span {
        position: relative;
        top: -1px;
      }
    }
  }
  .message-body {
    background-color: lighten($primary-color, $message-primary-bg-opacity);
    border: 1px solid $primary-color;
    border-radius: 0 0 $global-radius $global-radius;
    color: $text-primary;
    padding: 1em 1.25em;
  }
  @each $key, $value in $foundation-palette {
    &.#{$key} {
      border: 1px solid $value;
      header {
        background-color: $value;
      }
      button {
        background-color: darken($value, 10);
        &:hover {
          background-color: darken($value, 15);
        }
      }
      .message-body {
        border: 1px solid $value;
        a {
          color: $value;
          font-weight: 500;
        }
      }
    }
  }
  &.success {
    .message-body {
      background-color: lighten($success-color, $message-success-bg-opacity);
    }
  }
  &.warning {
    .message-body {
      background-color: lighten($warning-color, $message-warning-bg-opacity);
    }
  }
  &.alert {
    .message-body {
      background-color: lighten($alert-color, $message-alert-bg-opacity);
    }
  }
  &.secondary {
    .message-body {
      background-color: lighten($secondary-color, $message-secondary-bg-opacity);
    }
  }
}