.section {
  padding: 3rem 1rem;
  @include breakpoint(medium) {
    padding: 4rem 2rem;
  }
  @include breakpoint(xlarge) {
    padding: 5rem 0;
  }
}

.text-inverted {
  color: $text-inverted;
}

.text-center {
  margin-left: auto;
  margin-right: auto;
}

.centered-on-mobile {
  @include breakpoint(mobile down) {
    text-align: center;
    p {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.centered-on-medium {
  @include breakpoint(medium down) {
    text-align: center;
    p {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.margin-top-on-mobile {
  @include breakpoint(mobile down) {
    margin-top: 2rem;
  }
}

.margin-right-on-mobile {
  @include breakpoint(mobile down) {
    margin-right: 2rem;
  }
}

.margin-bottom-on-mobile {
  @include breakpoint(mobile down) {
    margin-bottom: 2rem;
  }
}

.margin-left-on-mobile {
  @include breakpoint(mobile down) {
    margin-left: 2rem;
  }
}

.margin-top-on-desktop {
  @include breakpoint(large) {
    margin-top: 2rem;
  }

  @include breakpoint(xlarge) {
    padding-top: 4rem;
  }
}

.margin-right-on-desktop {
  @include breakpoint(large) {
    margin-right: 2rem;
  }

  @include breakpoint(xlarge) {
    padding-right: 4rem;
  }
}

.margin-bottom-on-desktop {
  @include breakpoint(large) {
    margin-bottom: 2rem;
  }
  @include breakpoint(xlarge) {
    padding-bottom: 4rem;
  }
}

.margin-left-on-desktop {
  @include breakpoint(large) {
    margin-left: 2rem;
  }

  @include breakpoint(xlarge) {
    padding-left: 4rem;
  }
}

.padding-top-on-desktop {
  @include breakpoint(large) {
    padding-top: 2rem;
  }
  @include breakpoint(xlarge) {
    padding-top: 4rem;
  }
}

.padding-right-on-desktop {
  @include breakpoint(large) {
    padding-right: 2rem;
  }

  @include breakpoint(xlarge) {
    padding-right: 4rem;
  }
}

.padding-bottom-on-desktop {
  @include breakpoint(large) {
    padding-bottom: 2rem;
  }

  @include breakpoint(xlarge) {
    padding-bottom: 4rem;
  }
}

.padding-left-on-desktop {
  @include breakpoint(large) {
    padding-left: 2rem;
  }

  @include breakpoint(xlarge) {
    padding-left: 4rem;
  }
}

.muted {
  color: $text-muted;
}

.headline {
  font-size: 3.5rem;
  line-height: 1;
  font-weight: $header-font-weight;
  margin-top: 0;
  margin-bottom: 0;
  @include breakpoint(mobile) {
    font-size: 4rem;
  }
  @include breakpoint(medium) {
    font-size: 5rem;
  }
  @include breakpoint(large) {
    font-size: 6rem;
    letter-spacing: .025em;
  }
}

.subheadline {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: $header-font-weight;
  margin-top: 0;
  margin-bottom: 0;
  @include breakpoint(mobile) {
    font-size: 3rem;
  }
  @include breakpoint(medium) {
    font-size: 4rem;
  }
  @include breakpoint(large) {
    font-size: 5rem;
    letter-spacing: .025em;
  }
}

.title {
  line-height: 1.1;
}

.subtitle {
  line-height: .5;
}

// Paragraphs indentation
.indent {
  text-indent: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.small-caps       { font-variant: small-caps; }

.thin             { font-weight: 100; }
.light            { font-weight: 200; }

// Line-height
.lh-sm            { line-height: 1.1; }

// Paragraphs measure
.paragraph-narrow {
  @include breakpoint(medium) {
    max-width: 20rem;
    &.centered {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.paragraph        {
  @include breakpoint(medium) {
    max-width: 30rem;
    &.centered {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.paragraph-wide   {
  @include breakpoint(medium) {
    max-width: 34rem;
    &.centered {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// Title measure
.title-narrow     {
  @include breakpoint(medium) {
    max-width: 40rem;
    &.centered {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.title            {
  @include breakpoint(medium) {
    max-width: 50rem;
    &.centered {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.title-wide       {
  @include breakpoint(medium) {
    max-width: 60rem;
    &.centered {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// Letter-spacing
.ls-sm            { letter-spacing: -.025em; }
.ls               { letter-spacing:  .025em; }
.ls-md            { letter-spacing:  .05em; }
.ls-lg            { letter-spacing:  .1em; }
.ls-xl            { letter-spacing:  .2em; }

// Max-width
.mw1              {  max-width: 1rem; }
.mw2              {  max-width: 2rem; }
.mw3              {  max-width: 4rem; }
.mw4              {  max-width: 8rem; }
.mw5              {  max-width: 16rem; }
.mw6              {  max-width: 32rem; }
.mw7              {  max-width: 48rem; }
.mw8              {  max-width: 64rem; }
.mw9              {  max-width: 96rem; }

// Box-shadow
.shadow-1 { box-shadow: 0 0 4px 2px rgba( 0, 0, 0, 0.2 ); }
.shadow-2 { box-shadow: 0 0 8px 2px rgba( 0, 0, 0, 0.2 ); }
.shadow-3 { box-shadow: 2px 2px 4px 2px rgba( 0, 0, 0, 0.2 ); }
.shadow-4 { box-shadow: 2px 2px 8px 0 rgba( 0, 0, 0, 0.2 ); }
.shadow-5 { box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, 0.2 ); }