.icon {
  display: inline-block;
  vertical-align: middle;
  &-white {
    .icon {
      fill: $white;
      &:hover {
        fill: $secondary-color;
      }
    }
  }
}

.container {
  margin: 0 auto;
  padding-right: rem-calc(map-get($grid-column-gutter, small));
  padding-left: rem-calc(map-get($grid-column-gutter, small));

  @include breakpoint(medium) {
    padding-right: rem-calc(map-get($grid-column-gutter, medium)) / 2;
    padding-left: rem-calc(map-get($grid-column-gutter, medium)) / 2;
    max-width: $global-width + rem-calc(map-get($grid-column-gutter, medium));
  }
}

.section {
  padding: 3rem 1rem;
  @include breakpoint(medium) {
    padding: 4rem 2rem;
  }
  @include breakpoint(xlarge) {
    padding: 5rem 0;
  }
}

.section-lg {
  padding: 4rem 2rem;
  @include breakpoint(medium) {
    padding: 6rem 3rem;
  }
  @include breakpoint(xlarge) {
    padding: 8rem 0;
  }
}

.section-boxed {
  @include breakpoint(large) {
    padding: 1.5rem;
  }
}

.text-inverted {
  color: $text-inverted;
}

.text-center {
  margin-left: auto;
  margin-right: auto;
}

.centered-on-mobile {
  @include breakpoint(mobile down) {
    text-align: center;
    p {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.centered-on-medium {
  @include breakpoint(medium down) {
    text-align: center;
    p {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.margin-top-on-mobile {
  @include breakpoint(mobile down) {
    margin-top: 2rem;
  }
}

.margin-right-on-mobile {
  @include breakpoint(mobile down) {
    margin-right: 2rem;
  }
}

.margin-bottom-on-mobile {
  @include breakpoint(mobile down) {
    margin-bottom: 2rem;
  }
}

.margin-left-on-mobile {
  @include breakpoint(mobile down) {
    margin-left: 2rem;
  }
}

.margin-top-on-desktop {
  @include breakpoint(large) {
    margin-top: 2rem;
  }

  @include breakpoint(xlarge) {
    padding-top: 4rem;
  }
}

.margin-right-on-desktop {
  @include breakpoint(large) {
    margin-right: 2rem;
  }

  @include breakpoint(xlarge) {
    padding-right: 4rem;
  }
}

.margin-bottom-on-desktop {
  @include breakpoint(large) {
    margin-bottom: 2rem;
  }
  @include breakpoint(xlarge) {
    padding-bottom: 4rem;
  }
}

.margin-left-on-desktop {
  @include breakpoint(large) {
    margin-left: 2rem;
  }

  @include breakpoint(xlarge) {
    padding-left: 4rem;
  }
}

.padding-top-on-desktop {
  @include breakpoint(large) {
    padding-top: 2rem;
  }
  @include breakpoint(xlarge) {
    padding-top: 4rem;
  }
}

.padding-right-on-desktop {
  @include breakpoint(large) {
    padding-right: 2rem;
  }

  @include breakpoint(xlarge) {
    padding-right: 4rem;
  }
}

.padding-bottom-on-desktop {
  @include breakpoint(large) {
    padding-bottom: 2rem;
  }

  @include breakpoint(xlarge) {
    padding-bottom: 4rem;
  }
}

.padding-left-on-desktop {
  @include breakpoint(large) {
    padding-left: 2rem;
  }

  @include breakpoint(xlarge) {
    padding-left: 4rem;
  }
}

.padding-vertical-4 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  @include breakpoint(medium) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  @include breakpoint(xlarge) {
    padding-top: 6rem;
    padding-bottom: 8rem;
  }

}

.muted {
  color: $text-muted;
}

.headline {
  font-size: 3.5rem;
  line-height: 1;
  font-weight: $header-font-weight;
  margin-top: 0;
  margin-bottom: 0;
  @include breakpoint(mobile) {
    font-size: 4rem;
  }
  @include breakpoint(medium) {
    font-size: 5rem;
  }
  @include breakpoint(large) {
    font-size: 6rem;
    letter-spacing: .025em;
  }
}

.subheadline {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: $header-font-weight;
  margin-top: 0;
  margin-bottom: 0;
  @include breakpoint(mobile) {
    font-size: 3rem;
  }
  @include breakpoint(medium) {
    font-size: 4rem;
  }
  @include breakpoint(large) {
    font-size: 5rem;
    letter-spacing: .025em;
  }
}

.subheading {
  @include breakpoint(small) {
    font-weight: 300;
    font-size: rem-calc(16);
    line-height: rem-calc(25);

    a {
      &,
      &:focus,
      &:hover {
        color: inherit;
      }
    }
  }

  @include breakpoint(medium) {
    font-size: rem-calc(20);
    line-height: rem-calc(30);
  }

  @include breakpoint(large) {
    font-size: rem-calc(22);
    line-height: rem-calc(32);
  }

  @include breakpoint(xlarge) {
    font-size: rem-calc(22);
    line-height: rem-calc(32);
  }
}

.caption {
  @include breakpoint(small) {
    font-size: rem-calc(14);
    line-height: rem-calc(19);

    a {
      &,
      &:focus,
      &:hover {
        color: inherit;
      }
    }
  }

  @include breakpoint(medium) {
    font-size: rem-calc(14);
    line-height: rem-calc(19);
  }

  @include breakpoint(large) {
    font-size: rem-calc(14);
    line-height: rem-calc(19);
  }

  @include breakpoint(xlarge) {
    font-size: rem-calc(14);
    line-height: rem-calc(19);
  }
}

// Paragraphs indentation
.indent {
  text-indent: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.small-caps       { font-variant: small-caps; }

.thin             { font-weight: 100; }
.light            { font-weight: 200; }

// Line-height
.lh-sm            { line-height: 1.1; }

// Paragraphs measure
.paragraph-narrow {
  @include breakpoint(medium) {
    max-width: 20rem;
    &.centered {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.paragraph        {
  @include breakpoint(medium) {
    max-width: 29rem;
    &.centered {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.paragraph-wide   {
  @include breakpoint(medium) {
    max-width: 34rem;
    &.centered {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

// Title measure
.title-narrow     {
  @include breakpoint(medium) {
    max-width: 40rem;
    &.centered {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.title            {
  @include breakpoint(medium) {
    max-width: 50rem;
    &.centered {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
.title-wide       {
  @include breakpoint(medium) {
    max-width: 60rem;
    &.centered {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.small-quote {
  font-size: 18px;
  @include breakpoint(medium) {
    font-size: 20px;
  }
  @include breakpoint(large) {
    font-size: 22px;
  }
}

.quote {
  @include breakpoint(small) {
    font-weight: 300;
    font-size: rem-calc(25);
    line-height: rem-calc(38);

    a {
      &,
      &:focus,
      &:hover {
        color: inherit;
      }
    }
  }

  @include breakpoint(medium) {
    font-size: rem-calc(27);
    line-height: rem-calc(40);
  }

  @include breakpoint(large) {
    font-size: rem-calc(32);
    line-height: rem-calc(46);
  }

  @include breakpoint(xlarge) {
    font-size: rem-calc(32);
    line-height: rem-calc(46);
  }
}

.big-quote {
  @include breakpoint(small) {
    font-weight: 300;
    font-size: rem-calc(37);
    line-height: rem-calc(44);
    letter-spacing: -0.015em;

    a {
      &,
      &:focus,
      &:hover {
        color: inherit;
      }
    }
  }

  @include breakpoint(medium) {
    font-size: rem-calc(42);
    line-height: rem-calc(50);
  }

  @include breakpoint(large) {
    font-size: rem-calc(48);
    line-height: rem-calc(58);
  }

  @include breakpoint(xlarge) {
    max-width: rem-calc(950);
    margin-left: auto;
    margin-right: auto;
    font-size: rem-calc(50);
    line-height: rem-calc(62);
  }
}

.tag-1 {
  @include breakpoint(small) {
    font-weight: 500;
    font-size: rem-calc(18);
    line-height: rem-calc(18);

    a {
      &,
      &:focus,
      &:hover {
        color: inherit;
      }
    }
  }

  @include breakpoint(medium) {
    font-size: rem-calc(18);
    line-height: rem-calc(18);
  }

  @include breakpoint(large) {
    font-size: rem-calc(18);
    line-height: rem-calc(18);
  }

  @include breakpoint(xlarge) {
    font-size: rem-calc(18);
    line-height: rem-calc(18);
  }
}


.tag-2 {
  @include breakpoint(small) {
    font-weight: 500;
    font-size: rem-calc(14);
    line-height: rem-calc(14);
    letter-spacing: 0.093em;

    a {
      &,
      &:focus,
      &:hover {
        color: inherit;
      }
    }
  }

  @include breakpoint(medium) {
    font-size: rem-calc(14);
    line-height: rem-calc(14);
  }

  @include breakpoint(large) {
    font-size: rem-calc(14);
    line-height: rem-calc(14);
  }

  @include breakpoint(xlarge) {
    font-size: rem-calc(14);
    line-height: rem-calc(14);
  }
}

// Letter-spacing
.ls-sm            { letter-spacing: -.025em; }
.ls               { letter-spacing:  .025em; }
.ls-md            { letter-spacing:  .05em; }
.ls-lg            { letter-spacing:  .1em; }
.ls-xl            { letter-spacing:  .2em; }

// Max-width
.mw1              {  max-width: 1rem; }
.mw2              {  max-width: 2rem; }
.mw3              {  max-width: 4rem; }
.mw4              {  max-width: 8rem; }
.mw5              {  max-width: 16rem; }
.mw6              {  max-width: 32rem; }
.mw7              {  max-width: 48rem; }
.mw8              {  max-width: 64rem; }
.mw9              {  max-width: 96rem; }

// Box-shadow
.shadow-1 { box-shadow: 0 0 4px 2px rgba( 0, 0, 0, 0.2 ); }
.shadow-2 { box-shadow: 0 0 8px 2px rgba( 0, 0, 0, 0.2 ); }
.shadow-3 { box-shadow: 2px 2px 4px 2px rgba( 0, 0, 0, 0.2 ); }
.shadow-4 { box-shadow: 2px 2px 8px 0 rgba( 0, 0, 0, 0.2 ); }
.shadow-5 { box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, 0.2 ); }

.border-bottom {
  border-bottom: solid rem-calc(1) $separator;
}

.border-top {
  border-top: solid rem-calc(1) $separator;
}

.border-radius {
  border-radius: $global-radius;
}