.bg-img-card {

  &-right{
    background: url("../img/ask-table-bg.jpg") 50% 0 no-repeat;
    background-size: cover;
    .bg-img-card__container {
      @include breakpoint(large) {
        justify-content: flex-end;
      }
    }
  }

  &-center{
    background: url("../img/ask-tv-bg.jpg") 50% 0 no-repeat;
    background-size: cover;
  }

  &__container {
    display: flex;
    justify-content: center;
    padding-top: rem-calc(100);
    padding-bottom: rem-calc(100);
  }

  &__content {
    border-radius: rem-calc(6);
    padding: rem-calc(12 87 80);
    width: rem-calc(550);
    background: $white;
  }

  &__image {
    max-width: 100%;
  }

  &__title {
    margin-bottom: rem-calc(55);
    text-align: center;
    color: $text-heading;
  }

  &__more {
    display: flex;
    justify-content: center;

    &__link {
      position: relative;
      display: block;
      font-weight: 500;
      font-size: rem-calc(16);
      line-height: rem-calc(16);
      text-decoration: none;
      transition: color $base-transition;
    }
  }

  @include breakpoint(retina) {
    background: url("../img/ask-table-bg-2x.png") 50% 0 no-repeat;
    background-size: cover;
  }

  @include breakpoint(large down) {
    &__container {
      justify-content: center;
    }
  }

  @include breakpoint(medium down) {
    border-bottom: solid rem-calc(1) $gray-lightest;

    &__container {
      display: flex;
      justify-content: center;
      padding-top: rem-calc(80);
      padding-bottom: rem-calc(80);
    }
  }

  @include breakpoint(small down) {
    &__container {
      padding-top: rem-calc(60);
      padding-bottom: rem-calc(60);
    }

    &__content {
      padding-right: rem-calc(10);
      padding-left: rem-calc(10);
    }
  }
}
