.ecommerce-1 {
	background-color: $gray-lightest;

	&__content {
		padding-top: rem-calc(178);
		padding-bottom: rem-calc(60);

		&__tag {
			margin-bottom: rem-calc(20);
			text-align: center;
			color: $gray-dark;
		}

		&__title {
			margin-bottom: rem-calc(38);
			text-align: center;
			color: $text-heading;
		}

		&__filter {
			position: relative;
			display: flex;
			flex-flow: row;
			justify-content: center;
			overflow: hidden;
			margin-bottom: rem-calc(59);

			&__button {
				flex: 0 0 auto;
				margin-left: rem-calc(32);
				margin-bottom: rem-calc(5);
				border: solid rem-calc(2) transparent;
				border-radius: rem-calc(100);
				padding: rem-calc(13 25);
				box-shadow: rem-calc(1 2 3) rgba($black, 0.12);
				font-weight: 500;
				font-size: rem-calc(16);
				line-height: rem-calc(16);
				color: $gray-darker;
				background-color: $white;
				cursor: pointer;
				transition: all linear $base-transition;

				&:hover,
				&.is-active {
					outline: none;
					border: solid rem-calc(2) $secondary-color;
					color: $secondary-color;
					transition: all linear $base-transition;
				}

				&:focus {
					outline: none;
				}
			}
		}

		&__block {
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			margin-bottom: rem-calc(54);

			&__special {
				flex-basis: 49.3%;
				margin-bottom: rem-calc(18);
				border-radius: rem-calc(6);
				padding-top: rem-calc(80);
				padding-bottom: rem-calc(90);
				max-height: rem-calc(400);
				box-shadow: rem-calc(1 2 3) rgba($black, 0.12);
				background-color: $secondary-color;

				&__tag {
					margin-bottom: rem-calc(20);
					text-align: center;
					color: $white;
					opacity: 0.6;
				}

				&__title {
					margin-bottom: rem-calc(20);
					text-align: center;
					color: $white;
				}

				&__subheading {
					margin: 0 auto rem-calc(50);
					max-width: rem-calc(387);
					text-align: center;
					color: $white;
					opacity: 0.8;
				}

				&__buy {
					position: relative;
					display: block;
					margin: 0 auto;
					border: solid rem-calc(2) rgba($white, 0.2);
					border-radius: rem-calc(6);
					padding: rem-calc(13 30 13 56);
					width: rem-calc(170);
					font-weight: 500;
					font-size: rem-calc(16);
					line-height: rem-calc(16);
					color: $white;
					transition: all linear 0.1s;

					&__svg {
						position: absolute;
						left: rem-calc(30);
						top: rem-calc(13);

						.icon {
							width: rem-calc(16);
							height: rem-calc(16);
							fill: rgba($white, 0.6);
						}
					}

					&:hover {
						background: $white;
						transition: all linear 0.1s;

						.icon {
							fill: $primary-color;
						}
					}
				}
			}

			&__product {
				position: relative;
				display: flex;
				flex-basis: 24%;
				flex-flow: column wrap;
				justify-content: space-between;
				margin-bottom: rem-calc(18);
				border-radius: rem-calc(6);
				padding: rem-calc(19 18 20 18);
				height: rem-calc(400);
				box-shadow: rem-calc(1 2 3) rgba($black, 0.12);
				text-align: center;
				background-color: $white;
				cursor: pointer;

				&__image {
					img {
						max-width: 100%;
						max-height: 100%;
					}
				}

				&__title {
					margin-bottom: rem-calc(10);
					color: $text-heading;
				}

				&__price {
					font-weight: 400;
					font-size: rem-calc(16);
					line-height: rem-calc(25);
					color: $gray-dark;
				}

				&__hover {
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					border-radius: rem-calc(6);
					padding-top: rem-calc(120);
					background: rgba($black, 0.8);
					opacity: 0;
					transition: all 0.2s linear;

					&__title {
						text-align: center;
						color: $white;
					}

					&__description {
						margin: 0 auto rem-calc(10);
						max-width: rem-calc(226);
						font-weight: 400;
						font-size: rem-calc(16);
						line-height: rem-calc(25);
						color: $white;
						opacity: 0.8;
					}

					&__brand {
						margin-bottom: rem-calc(38);
						font-weight: 400;
						font-size: rem-calc(16);
						line-height: rem-calc(25);
						color: $white;
						opacity: 0.8;
					}

					&__price {
						margin-bottom: rem-calc(10);
						font-weight: 400;
						font-size: rem-calc(16);
						line-height: rem-calc(25);
						color: $white;
					}

					&__buy {
						display: flex;
						align-items: center;
						justify-content: center;
						margin: 0 auto;
						border-radius: rem-calc(6);
						width: rem-calc(158);
						height: rem-calc(42);
						font-weight: 500;
						font-size: rem-calc(16);
						line-height: rem-calc(16);
						color: $white;
						background-color: $secondary-color;
						transition: all linear 0.2s;

						&:hover {
							background-color: $white;
							transition: all linear 0.2s;
						}
					}
				}

				&:hover {
					.hover-block {
						opacity: 1;
						transition: all 0.2s linear;
					}

					.text-block {
						opacity: 0;
						transition: all 0.2s linear;
					}
				}
			}
		}

		&__more {
			position: relative;
			display: block;
			margin: 0 auto;
			padding-left: rem-calc(16);
			max-width: rem-calc(160);
			font-weight: 500;
			font-size: rem-calc(16);
			line-height: rem-calc(16);
			text-align: center;
			color: $primary-color;

			.icon {
				position: absolute;
				left: 0;
				top: 0;
				width: rem-calc(15);
				height: rem-calc(15);
				fill: $primary-color;
			}

			&:hover {
				.icon {
					fill: $secondary-color;
				}
			}
		}
	}

	@include breakpoint(large down) {
		&__content {
			&__block {
				&__product {
					flex-basis: 32%;
				}

				&__special {
					flex-basis: 66%;
				}
			}
		}
	}

	@include breakpoint(medium down) {
		&__content {
			&__block {
				&__special {
					flex-basis: 98%;
					padding-right: rem-calc(20);
					padding-left: rem-calc(20);
					max-height: none;
				}

				&__product {
					flex-basis: 48%;
				}
			}
		}
	}

	@include breakpoint(830 down) {
		&__content {
			&__filter {
				justify-content: flex-start;

				&::after,
				&::before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 2rem;
					height: 100%;
					background: linear-gradient(to right, $gray-lightest 10%, transparent);
					z-index: 10;
				}

				&::after {
					left: auto;
					right: 0;
					background: linear-gradient(to left, $gray-lightest 10%, transparent);
				}

				&__button {
					&:first-child {
						margin-left: 3rem;
					}
				}

			}
		}
	}

	@include breakpoint(mobile down) {
		&__content {
			&__block {
				&__product {
					flex-basis: 100%;
				}

				&__special {
					flex-basis: 100%;
				}
			}
		}
	}

	@include breakpoint(map-get($breakpoints, mobile) down) {
		&__content {
			padding-top: rem-calc(120);
		}
	}
}
