.footer-app {
	&__top {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		border-bottom: solid rem-calc(1) $separator;
		padding: rem-calc(0 0 40 0);
	}

	&__bottom {
		padding: rem-calc(30 0 85 0);
	}

	&__menu {
		padding: rem-calc(65 0 0 0);

		&__list {
			display: flex;
			justify-content: flex-start;
			list-style: none;
			margin: 0;

			&__item {
				margin: rem-calc(0 30 0 0);

				&__link {
					font-weight: 500;
					font-size: rem-calc(16);
					line-height: rem-calc(16);
					color: $dark-gray;
				}
			}
		}
	}

	&__apps {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: rem-calc(51 0 0 0);

		&__title {
			margin: rem-calc(0 29 0 0);
			font-weight: 400;
			font-size: rem-calc(16);
			line-height: rem-calc(25);
			color: $dark-gray;
		}

		&__link {
			border-radius: rem-calc(6);
			padding: rem-calc(7 10);
			background-color: $dark-gray;
			transition: all linear 0.2s;

			.icon {
				width: rem-calc(98);
				height: rem-calc(26);
				fill: $white;
			}

			&:hover {
				opacity: 0.8;
				transition: all linear 0.2s;
			}
		}
	}

	&__copyright {
		font-weight: 400;
		font-size: rem-calc(16);
		line-height: rem-calc(25);
		color: $dark-gray;
	}

	@include breakpoint(medium down) {
		&__bottom {
			padding-bottom: rem-calc(80);
		}
	}

	@include breakpoint(mobile down) {
		&__top {
			align-items: center;
			flex-flow: column wrap;
		}

		&__menu {
			&__list {
				&__item {
					margin: rem-calc(0 10 0 0);

					&:last-child {
						margin: 0;
					}
				}
			}
		}

		&__apps {
			padding: rem-calc(60 0 0 0);
		}

		&__copyright {
			text-align: center;
		}
	}

	@include breakpoint(small down) {
		&__bottom {
			padding-bottom: rem-calc(60);
		}

		&__menu {
			padding-top: rem-calc(60);
		}
	}
}
