<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>

    {{> body}}

    <script src="{{root}}assets/vendors/aos.js"></script>
    <script src="{{root}}assets/vendors/underscore.js"></script>
    <script src="{{root}}assets/vendors/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="{{root}}assets/vendors/owl.carousel.js"></script>
    <script>

        jQuery(document).ready(function() {
            var $carousel = jQuery(".owl-header__slider").owlCarousel({
                items: 1,
                autoHeight: true,
                dots: true,
                nav: false,
                loop: false,
                mouseDrag: false
            });

            var $owlDots = $('.owl-dots');

            var positionDots = function () {

                var $posElem = $('.owl-item').filter('.active').find('.tag-2');

                var coords = $posElem.offset();

                if (coords) {
                    $owlDots.css({
                        left: coords.left
                    });
                }

                $owlDots.css('display', 'block');
            };

            positionDots();

            $carousel.on('changed.owl.carousel', function () {

                $owlDots.css('display', 'none');
                setTimeout(function () {
                    positionDots();
                }, 500);
            });
        });

        jQuery(function () {
            'use strict';

            var $hamburgerButton = jQuery('.owl-header__button__hamburger');
            var $hamburgerPopup = jQuery('.owl-header__hamburger');
            var $hamburgerClose = jQuery('.owl-header__hamburger__header__close');

            $hamburgerButton.on('click', function (event) {
                event.preventDefault();

                $hamburgerPopup
                    .removeClass('is-hidden')
                    .animate({
                        opacity: 1
                    }, 500);

                $hamburgerButton.addClass('is-hidden');
            });

            $hamburgerClose.on('click', function (event) {
                event.preventDefault();

                $hamburgerPopup
                    .animate({
                        opacity: 0
                    }, 500, function () {
                        $hamburgerPopup.addClass('is-hidden');
                    });

                $hamburgerButton.removeClass('is-hidden');
            });
        });

        jQuery(function () {

            'use strict';

            var $filterButtons = jQuery('.portfolio-tabs__tabs__button');
            var $filterBlocks = jQuery('.portfolio-tabs__projects');

            $filterButtons.on('click', function (event) {
                var $this = jQuery(event.currentTarget);
                event.preventDefault();

                $filterButtons.removeClass('is-active');
                $this.addClass('is-active');

                var thisData = $this.data('item');

                $filterBlocks.not('.is-hidden')
                    .animate({
                        opacity: 0
                    }, 300, function () {
                        jQuery(this).addClass('is-hidden')
                    }).end()
                    .filter(function (index, elem) {
                        return (jQuery(elem).data('item') === thisData);
                    }).css({
                    opacity: 0
                }).removeClass('is-hidden').animate({
                    opacity: 1
                }, 300);
            });

            var $moreButton = jQuery('.portfolio-tabs__all');

            $moreButton.on('click', function (event) {
                event.preventDefault();

                var $items = $filterBlocks.not('.is-hidden').clone();
                $items.insertBefore($moreButton);

                jQuery('html, body').animate({
                    scrollTop: $moreButton.offset().top - $(window).height() + $moreButton.outerHeight()
                }, 600);
            });

            // Swap buttons

            jQuery(window).on('load', function (event) {
                if (jQuery(window).width() <= 600 - 17) {
                    var $swipeButtons = jQuery('.portfolio-tabs__tabs__inner').addClass('owl-carousel');
                    var $swipeItems = jQuery('.portfolio-tabs__tabs__button');

                    $swipeItems.wrap('<div class="swipe-buttons-wrap">');

                    var $buttonsSlider = $swipeButtons.owlCarousel({
                        autoWidth: true,
                        center: false,
                        items: 3
                    });

                    $swipeButtons.find('.owl-stage').css({
                        'width': '+=1'
                    });
                }
            });
        });

        jQuery(function () {
            var $slider = jQuery('.testimonial-slider-img__content');
            var $sliderNext = jQuery('.testimonial-slider-img__nav__next');
            var $sliderPrev = jQuery('.testimonial-slider-img__nav__prev');

            var $carousel = $slider.owlCarousel({
                autoWidth: false,
                items: 1,
                loop: true,
                margin: 50,
                mouseDrag: true,
                nav: true,
                navText: ['', ''],
                responsive: {}
            });

            $sliderNext.on('click', function () {
                $carousel.trigger('next.owl.carousel');
            });

            $sliderPrev.on('click', function () {
                $carousel.trigger('prev.owl.carousel');
            });
        });

        jQuery(function () {
            var $slider = jQuery('.header-products__middle__slider');
            var $leftArrow = jQuery('.header-products__middle__slider__nav__prev');
            var $rightArrow = jQuery('.header-products__middle__slider__nav__next');

            var $carousel = $slider.owlCarousel({
                mouseDrag: true,
                autoWidth: true,
                items: 3,
                loop: true,
                margin: 28,
                nav: false,
                animateIn: 'fadeIn',
                animateOut: 'fadeOut',
                responsive: {
                    0: {
                        items: 1,
                        center: true
                    },
                    820: {
                        items: 2
                    },
                    1220: {
                        items: 3
                    }
                }
            });

            $leftArrow.on('click', function () {
                $carousel.trigger('prev.owl.carousel');
            });

            $rightArrow.on('click', function () {
                $carousel.trigger('next.owl.carousel');
            });
        });

        jQuery(function () {

            var leftArrow = '<i class="fas fa-angle-left fa-2x"></i>';
            var rightArrow = '<i class="fas fa-angle-right fa-2x"></i>';

            jQuery('.carousel__slider').owlCarousel({
                items: 1,
                autoHeight: true,
                dots: true,
                nav: true,
                loop: true,
                mouseDrag: false,
                navText: [leftArrow, rightArrow]
            });
        });

        jQuery(function () {
            var leftArrow = '<i class="fas fa-angle-left fa-2x"></i>';
            var rightArrow = '<i class="fas fa-angle-right fa-2x"></i>';

            jQuery('.carousel-fullscreen__items').owlCarousel({
                items: 1,
                autoHeight: true,
                dots: false,
                nav: true,
                loop: true,
                mouseDrag: false,
                navText: [leftArrow, rightArrow]
            });

            setTimeout(function () {
                jQuery('.carousel-fullscreen__more__link').removeClass('is-hidden');
            }, 500);
        });

        jQuery(function () {
            "use strict";

            var $slider01 = jQuery('.ecommerce-3__image__slider');
            var $slider02 = jQuery('.ecommerce-3__info__slider');
            var $sliderLeft = jQuery('.ecommerce-3__image__slider__nav__left');
            var $sliderRight = jQuery('.ecommerce-3__image__slider__nav__right');

            var $carousel01 = $slider01.owlCarousel({
                items: 1,
                loop: true,
                margin: 0,
                center: true,
                autoWidth: true,
                mouseDrag: false
            });

            setTimeout(function () {
                $carousel01.trigger('refresh.owl.carousel');
            }, 700);

            $sliderLeft.on('click', function () {
                $carousel01.trigger('prev.owl.carousel');
            });

            $sliderRight.on('click', function () {
                $carousel01.trigger('next.owl.carousel');
            });

            $(window).resize(function() {
                clearTimeout(window.resizedFinished);
                window.resizedFinished = setTimeout(function(){
                    $carousel01.trigger('refresh.owl.carousel');
                }, 250);
            });

            var $number = jQuery('.ecommerce-3__info__price__col').find('input');

            $number.spinner({
                'min': 1,
                'step': 1
            });

            var $favoriteStar = jQuery('.ecommerce-3__info__fav-share__left__star');

            $favoriteStar.on('click', function (event) {
                event.preventDefault();
                jQuery(this).find('svg').toggleClass('is-active');
            });

            var $colorItem = jQuery('.ecommerce-3__info__colors__item');

            $colorItem.on('click', function (event) {
                var $this = jQuery(event.currentTarget);
                $colorItem.removeClass('is-active');
                $this.addClass('is-active');
            });

            var $infoItem = jQuery('.ecommerce-3__info__item');

            $infoItem.each(function () {
                var $ratingItem = jQuery(this).find('.ecommerce-3__info__rating__item');

                $ratingItem.on('click', function (event) {
                    var $this = jQuery(event.currentTarget);
                    var thisNumber = $this.data('number');

                    $ratingItem.removeClass('is-active');

                    for (var i = 0; i < thisNumber; i = i + 1) {
                        $ratingItem.eq(i).addClass('is-active');
                    }
                });
            });
        });

        jQuery(function () {
            if (jQuery(window).width() <= 580 - 17) {
                var $swipeButtons = jQuery('.infos-tabs__filter').addClass('owl-carousel');
                var $swipeItems = jQuery('.infos-tabs__filter__button');

                $swipeItems.wrap('<div class="swipe-buttons-wrap">');

                var $buttonsSlider = $swipeButtons.owlCarousel({
                    autoWidth: true,
                    center: false,
                    items: 3
                });

                $swipeButtons.find('.owl-stage').css({
                    'width': '+=1'
                });
            }
        });

        jQuery(function () {
            'use strict';

            var $itemFull = jQuery('.item-full').find('img');

            var images = {
                normal: 'assets/img/ecommerce3/home-image-03.jpg',
                square: 'assets/img/ecommerce3/home-image-03-02.jpg'
            };

            var srcset = $itemFull.attr('srcset');

            jQuery(window).on('resize', function () {
                if (jQuery(window).width() <= 360 - 17) {
                    $itemFull.attr('src', images.square);
                    $itemFull.removeAttr('srcset');
                } else {
                    $itemFull.attr('src', images.normal);
                    $itemFull.attr('srcset', srcset);
                }
            });

            if (jQuery(window).width() <= 360 - 17) {
                $itemFull.attr('src', images.square);
                $itemFull.removeAttr('srcset');
            } else {
                $itemFull.attr('src', images.normal);
                $itemFull.attr('srcset', srcset);
            }

            console.log(jQuery(window).width());
        });

        jQuery(function () {
            var $slider = jQuery('.ecommerce-4__block');
            var $leftArrow = jQuery('.ecommerce-4__nav__prev');
            var $rightArrow = jQuery('.ecommerce-4__nav__next');

            var $carousel = $slider.owlCarousel({
                items: 1,
                loop: true,
                dots: true
            });

            $leftArrow.on('click', function () {
                $carousel.trigger('prev.owl.carousel');
            });

            $rightArrow.on('click', function () {
                $carousel.trigger('next.owl.carousel');
            });
        });

    </script>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>