<section class="bg-img-card-right">
    <div class="bg-img-card__container grid-container">
        <div class="bg-img-card__content" data-aos="fade-up">
            <div class="bg-img-card__image">
                <img src="assets/img/device/ask-table-img.png"/>
            </div>
            <h2 class="h1 bg-img-card__title">Devices Laying on the Table</h2>
            <div class="bg-img-card__more">
                <a class="font-bold" href="#">Learn More <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</section>