<section class="bg-img-card-center">
    <div class="bg-img-card__container grid-container">
        <div class="bg-img-card__content" data-aos="fade-up">
            <h2 class="h1 bg-img-card__title padding-top-3">Ask More of your Television</h2>
            <p class="subheading bg-img-card__subheading padding-bottom-1">So you have your new digital camera and clicking away to glory anything and everything in sight. Now you want to print them and you need.</p>
            <div class="bg-img-card__more margin-top-2">
                <a class="font-bold" href="#">Learn More <i class="fas fa-angle-right"></i></a>
            </div>
        </div>
    </div>
</section>