<section class="blog">
  <div class="blog__container container">
    <div class="blog__content">
      <div class="blog__tag tag-1" data-aos="fade-up">Latest from the Blog</div>
      <h2 class=" h1 blog__title" data-aos="fade-up">What We are Crazy About</h2>
      <div class="blog__block">
        <div class="blog__block__item" data-aos="fade-up">
          <div class="blog__block__item__image"><img src="assets/img/ecommerce/blog-image-01.png" alt=""/></div>
          <div class="blog__block__item__content">
            <h3 class="h2 blog__block__item__content__title">Raf Simons</h3>
            <div class="blog__block__item__content__description">There is a complicity between the very young and the very old.</div>
            <div class="blog__block__item__content__link"><a class="blog__block__item__content__link__item" href="#">Read full story
                {{>icon-arrow}}</a></div>
          </div>
        </div>
        <div class="blog__block__item" data-aos="fade-up">
          <div class="blog__block__item__image"><img src="assets/img/ecommerce/blog-image-02.png" alt=""/></div>
          <div class="blog__block__item__content">
            <h3 class="h2 blog__block__item__content__title">Acne Studios</h3>
            <div class="blog__block__item__content__description">There is a complicity between the very young and the very old.</div>
            <div class="blog__block__item__content__link"><a class="blog__block__item__content__link__item video-link" href="#">Watch slideshow</a></div>
          </div>
        </div>
        <div class="blog__block__item" data-aos="fade-up">
          <div class="blog__block__item__image"><img src="assets/img/ecommerce/blog-image-03.png" alt=""/></div>
          <div class="blog__block__item__content">
            <h3 class="h2 blog__block__item__content__title">Nike Bestsellers</h3>
            <div class="blog__block__item__content__description">There is a complicity between the very young and the very old.</div>
            <div class="blog__block__item__content__link"><a class="blog__block__item__content__link__item" href="#">Read more
              {{>icon-arrow}}</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>