<section class="ecommerce-3">
  <div class="ecommerce-3__container container" data-aos="fade-up">
    <div class="ecommerce-3__scrollbutton js-scroll-down" data-aos="fade-up">
      <a class="ecommerce-3__scrollbutton__link" href="#">
        {{>icon-arrow-bold}}
      </a>
    </div>
    <div class="ecommerce-3__image">
      <div class="ecommerce-3__image__slider owl-carousel">
        <div class="ecommerce-3__image__item">
          <img src="assets/img/ecommerce3/product-image-01.jpg" alt=""/>
          <a class="ecommerce-3__image__item__buy button" href="#">Add to Cart</a>
        </div>
        <div class="ecommerce-3__image__item">
          <img src="assets/img/ecommerce3/product-image-02.jpg" alt=""/>
          <a class="ecommerce-3__image__item__buy button" href="#">Add to Cart</a>
        </div>
        <div class="ecommerce-3__image__item">
          <img src="assets/img/ecommerce3/product-image-03.jpg" alt=""/>
          <a class="ecommerce-3__image__item__buy button" href="#">Add to Cart</a>
        </div>
        <div class="ecommerce-3__image__item">
          <img src="assets/img/ecommerce3/product-image-04.jpg" alt=""/>
          <a class="ecommerce-3__image__item__buy button" href="#">Add to Cart</a>
        </div>
      </div>
      <div class="ecommerce-3__image__slider__nav">
        <div class="ecommerce-3__image__slider__nav__left">
          <i class="fas fa-angle-left fa-2x"></i>
        </div>
        <div class="ecommerce-3__image__slider__nav__right">
          <i class="fas fa-angle-right fa-2x"></i>
        </div>
      </div>
    </div>
    <div class="ecommerce-3__info">
      <div class="ecommerce-3__info__slider">
        <div class="ecommerce-3__info__item">
          <div class="ecommerce-3__info__rating">
            <div class="ecommerce-3__info__rating__item" data-number="1">
              {{>icon-star}}
            </div>
            <div class="ecommerce-3__info__rating__item" data-number="2">
              {{>icon-star}}
            </div>
            <div class="ecommerce-3__info__rating__item" data-number="3">
              {{>icon-star}}
            </div>
            <div class="ecommerce-3__info__rating__item" data-number="4">
              {{>icon-star}}
            </div>
            <div class="ecommerce-3__info__rating__item" data-number="5">
              {{>icon-star}}
            </div>
          </div>
          <h1 class="ecommerce-3__info__title">Nanoleaf Ivy Smarter Kit</h1>
          <p class="ecommerce-3__info__subheading subheading">
            The Nanoleaf Ivy Smarter Kit is for all the times you didn’t want to leave bed to
            turn off your lights.
          </p>
          <div class="ecommerce-3__info__colors">
            <div class="ecommerce-3__info__colors__item item-black"></div>
            <div class="ecommerce-3__info__colors__item item-darkgrey"></div>
            <div class="ecommerce-3__info__colors__item item-brown"></div>
            <div class="ecommerce-3__info__colors__item item-grey"></div>
          </div>
          <form class="ecommerce-3__info__price" action="/" method="post">
            <div class="ecommerce-3__info__price__num quote-2">$399</div>
            <div class="ecommerce-3__info__price__col">
              <input type="text" value="1"/>
            </div>
            <button class="ecommerce-3__info__price__buy button large secondary" type="submit">Add to Cart</button>
          </form>
          <div class="ecommerce-3__info__fav-share">
            <div class="ecommerce-3__info__fav-share__left">
              <div class="ecommerce-3__info__fav-share__left__title">Add to favorites</div>
              <a class="ecommerce-3__info__fav-share__left__star" href="#">
                {{>icon-star}}
              </a>
            </div>
            <div class="ecommerce-3__info__fav-share__right">
              <div class="ecommerce-3__info__fav-share__right__title">Share</div>
              <div class="ecommerce-3__info__fav-share__right__social">
                <a class="ecommerce-3__info__fav-share__right__social__item" href="#">
                  {{>icon-facebook-02}}
                </a>
                <a class="ecommerce-3__info__fav-share__right__social__item" href="#">
                  {{>icon-twitter}}
                </a>
                <a class="ecommerce-3__info__fav-share__right__social__item" href="#">
                  {{>icon-gp}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>