<div class="carousel-fullscreen" data-aos="fade-up">
  <div class="carousel-fullscreen__items owl-carousel">
    <div class="carousel-fullscreen__item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/img/corporate/slide-1.jpg);">
      <div class="carousel-fullscreen__item__aligner">
        <div class="carousel-fullscreen__item__pre-title">What we do</div>
        <h1 class="carousel-fullscreen__item__title">The Smart and Simple Way to Invest in Future You.</h1>
        <div class="carousel-fullscreen__item__subheading subheading">We design and develop software for funded startups and established companies. Here are just some examples of our work.</div>
        <a class="carousel-fullscreen__item__button button secondary" href="#">Learn more</a>
      </div>
    </div>
    <div class="carousel-fullscreen__item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/img/corporate/slide-2.jpg);">
      <div class="carousel-fullscreen__item__aligner">
        <div class="carousel-fullscreen__item__pre-title">What we do</div>
        <h1 class="carousel-fullscreen__item__title">The Store Where Generous Matter More.</h1>
        <div class="carousel-fullscreen__item__subheading subheading">We are driven by creating experiences that deliver results for your business and for your consumers.</div>
        <a class="carousel-fullscreen__item__button button secondary" href="#">Learn more</a>
      </div>
    </div>
    <div class="carousel-fullscreen__item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/img/corporate/slide-3.jpg);">
      <div class="carousel-fullscreen__item__aligner">
        <div class="carousel-fullscreen__item__pre-title">What we do</div>
        <h1 class="carousel-fullscreen__item__title">Ultimate Tool for Any Kind of Work on Earth.</h1>
        <div class="carousel-fullscreen__item__subheading subheading">You need the potential to design something completely new. Prototyping with Module shouldn’t limit you.</div>
        <a class="carousel-fullscreen__item__button button secondary" href="#">Learn more</a>
      </div>
    </div>
    <div class="carousel-fullscreen__item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(assets/img/corporate/slide-4.jpg);">
      <div class="carousel-fullscreen__item__aligner">
        <div class="carousel-fullscreen__item__pre-title">What we do</div>
        <h1 class="carousel-fullscreen__item__title">The Smart and Simple Way to Invest in Future You.</h1>
        <div class="carousel-fullscreen__item__subheading subheading">We design and develop software for funded startups and established companies. Here are just some examples of our work.</div>
        <a class="carousel-fullscreen__item__button button secondary" href="#">Learn more</a>
      </div>
    </div>
  </div>
  <div class="carousel-fullscreen__more">
    <div class="carousel-fullscreen__more__caption">Explore more about us</div>
    <a class="carousel-fullscreen__more__link js-scroll-down is-hidden" href="#">
      {{>icon-arrow}}
    </a>
  </div>
</div>