<section class="clients">
  <div class="clients__container container">
    <div class="clients__row row">
      <div class="clients__column column small-6">
        <p class="clients__tag tag-1" data-aos="fade-up">Awards</p>
        <h2 class="clients__quote quote-2" data-aos="fade-up">We were awarded by Cannes Lions, The FWA and 50+ international and local awards.</h2>
        <a class="clients__link" href="#" data-aos="fade-up">
          <span class="clients__link__text">All clients list</span>
          {{>icon-arrow}}
        </a>
      </div>
      <div class="clients__column column small-6">
        <div class="clients__logos">
          <div class="clients__logos__item" data-aos="fade-up">
            {{>icon-cannes-lions}}
          </div>
          <div class="clients__logos__item" data-aos="fade-up">
            {{>icon-github}}
          </div>
          <div class="clients__logos__item" data-aos="fade-up">
            {{>icon-airbnb}}
          </div>
          <div class="clients__logos__item" data-aos="fade-up">
            {{>icon-flickr}}
          </div>
          <div class="clients__logos__item" data-aos="fade-up">
            {{>icon-vine}}
          </div>
          <div class="clients__logos__item" data-aos="fade-up">
            {{>icon-amazon}}
          </div>
        </div>
      </div>
    </div>
    <a class="clients__link" href="#" data-aos="fade-up">
      <span class="clients__link__text">All clients list</span>
      {{>icon-arrow}}
    </a>
  </div>
</section>