<section class="padding-bottom-3 grid-container">
    <h2 class="text-center" data-aos="fade-up">And thousands of happy companies, including:</h2>
    <div class="grid-x text-center align-center margin-vertical-3" data-aos="fade-up">
      <a class="cell small-4 medium-2" href="#">
        <i class="color-gray fab fa-google fa-3x"></i>
      </a>
      <a class="cell small-4 medium-2" href="#">
        <i class="color-gray fab fa-github fa-3x"></i>
      </a>
      <a class="cell small-4 medium-2" href="#">
        <i class="color-gray fab fa-flickr fa-3x"></i>
      </a>
      <a class="cell small-4 medium-2" href="#">
        <i class="color-gray fab fa-vine fa-3x"></i>
      </a>
      <a class="cell small-4 medium-2" href="#">
        <i class="color-gray fab fa-amazon fa-3x"></i>
      </a>
    </div>
</section>