<section class="contact js-block">
  <div class="contact__container container">
    <h2 class="h1 contact__title" data-aos="fade-up">Want to Work With Us?</h2>
    <p class="contact__subheading subheading" data-aos="fade-up">We are driven by creating experiences that deliver results for your business and for your consumers</p>
    <form class="contact__form" data-aos="fade-up">
      <div class="contact__form__row row">
        <div class="contact__form__column column small-12 medium-6">
          <div class="contact__form__textbox textbox textbox--white">
            <input class="textbox__input" type="text" placeholder="Your name" name="name" required="required"/>
          </div>
        </div>
        <div class="contact__form__column column small-12 medium-6">
          <div class="contact__form__textbox textbox textbox--white">
            <input class="textbox__input" type="email" placeholder="Your E-mail" name="email" required="required"/>
          </div>
        </div>
      </div>
      <div class="contact__form__row row">
        <div class="contact__form__column column small-12">
          <div class="contact__form__textbox textbox textbox--white">
            <textarea class="textbox__input" placeholder="Message" name="message" required="required"></textarea>
          </div>
        </div>
      </div>
      <div class="contact__form__row row">
        <div class="contact__form__column column small-12">
          <button class="contact__button button large secondary expanded" type="submit">Get in touch</button>
        </div>
      </div>
    </form>
    <div class="contact__email" data-aos="fade-up">
      <div class="contact__email__text">Or just email on</div><a class="contact__email__link subheading" href="mailto:sebastien.pereda@gmail.com">sebastien.pereda@gmail.com</a>
    </div>
  </div>
</section>