<section class="cta-promo">
  <div class="cta-promo__container container">
    <div class="cta-promo__wrap" data-aos="fade-up">
      <p class="cta-promo__slogan">HEY, BUDDY!</p>
      <h2 class="cta-promo__title">Sign Up to Save 10% on First Order</h2>
      <p class="cta-promo__description">Canary packs a complete home security system into one unit that you control from an app on your iPhone or iPad.</p>
      <a class="cta-promo__button button large secondary" href="#">Sign up</a>
    </div>
  </div>
</section>