<section class="cta-dark">
  <div class="cta-dark__container container">
    <div class="cta-dark__content" data-aos="fade-up">
      <h2 class="h1 cta-dark__content__title">The Ultimate Pasta Length Editor</h2>
      <p class="cta-dark__content__subheading subheading">How to boost the design and developing process with a little help of four paws. True story by Snoop Dogg.</p>
      <a class="cta-dark__content__button button secondary">Try it for Free</a>
      <p class="cta-dark__content__slogan">Superpasta trusted and used by multiple companies</p>
      <div class="cta-dark__content__block">
          <a class="cta-dark__content__block__item" href="#">
              {{>icon-evernote}}
          </a>
          <a class="cta-dark__content__block__item" href="#">
              {{>icon-marvel}}
          </a>
          <a class="cta-dark__content__block__item" href="#">
              {{>icon-brazzers}}
          </a>
          <a class="cta-dark__content__block__item" href="#">
              {{>icon-motorola}}
          </a>
          <a class="cta-dark__content__block__item" href="#">
            {{>icon-netflix}}
          </a>
          <a class="cta-dark__content__block__item" href="#">
              {{>icon-adobe}}
          </a>
      </div>
    </div>
  </div>
</section>