<section class="alternative">
    <div class="alternative__container grid-container">
        <div class="alternative__content">

            <header>
                <h2 class="h1 alternative__title" data-aos="fade-up">The Universe Through A Child Eyes</h2>
                <p class="alternative__subheading subheading" data-aos="fade-up">So you’re trying to surf a site like myspace, hotmail or yahoo mail from work or school and its blocked by your school, work or government.</p>
            </header>

            <div class="alternative__block">
                <div class="alternative__block__item" data-aos="fade-up">
                    <div class="alternative__block__item__icon">
                        <img src="assets/img/svg/google-drive.svg" alt="">
                    </div>
                    <h2 class="h3 alternative__block__item__title">Connected With Your Drive</h2>
                    <p class="alternative__block__item__text">Let’s look at just what we’re counting here. Gartner lumps in detachable devices like Microsoft’s Surface in with traditional PCs</p>
                    <a class="alternative__block__item__button button secondary" href="#">Let's go!</a>
                </div>
                <div class="alternative__block__item" data-aos="fade-up">
                    <div class="alternative__block__item__icon">
                        <img src="assets/img/svg/hangout.svg" alt="">
                    </div>
                    <h2 class="h3 alternative__block__item__title">Easy Integrate With Hangouts</h2>
                    <p class="alternative__block__item__text">A look at the global impacts of El Niño, a ransomware attack on a California hospital</p>
                    <a class="alternative__block__item__button button secondary" href="#">Let's go!</a>
                </div>
            </div>
        </div>

    </div>
</section>