<section class="ecommerce-2">
  <div class="ecommerce-2__container container">
    <div class="ecommerce-2__list" data-equalizer="data-equalizer">
      <div class="ecommerce-2__item" data-aos="fade-up">
        <a class="ecommerce-2__product" href="#">
          <img class="ecommerce-2__product__image" src="assets/img/ecommerce2/image-1.jpg" alt=""/>
          <span class="ecommerce-2__product__title h2" data-equalizer-watch="data-equalizer-watch">Studio Wireless Over Ear Headphones</span>
          <span class="ecommerce-2__product__colors">
            <span class="ecommerce-2__product__color" style="background-color: #2b2b2b;"></span>
            <span class="ecommerce-2__product__color" style="background-color: #a8a4a1;"></span>
            <span class="ecommerce-2__product__color" style="background-color: #ab9a89;"></span>
            <span class="ecommerce-2__product__color" style="background-color: #ededed;"></span>
          </span>
          <span class="ecommerce-2__product__price">$379.95</span>
        </a>
      </div>
      <div class="ecommerce-2__item" data-aos="fade-up">
        <a class="ecommerce-2__product" href="#">
          <img class="ecommerce-2__product__image" src="assets/img/ecommerce2/image-2.jpg" alt=""/>
          <span class="ecommerce-2__product__title h2" data-equalizer-watch="data-equalizer-watch">Solo2 On Ear Headphones Luxe Edition</span>
          <span class="ecommerce-2__product__colors">
            <span class="ecommerce-2__product__color" style="background-color: #1593dd;"></span>

            lass="ecommerce-2__product__color" style="background-color: #9a1934;"></span>
          </span>
          <span class="ecommerce-2__product__price">$199.95</span>
        </a>
      </div>
      <div class="ecommerce-2__item" data-aos="fade-up">
        <a class="ecommerce-2__product" href="#">
          <img class="ecommerce-2__product__image" src="assets/img/ecommerce2/image-3.jpg" alt=""/>
          <span class="ecommerce-2__product__title h2" data-equalizer-watch="data-equalizer-watch">Solo2 Wireless On Ear Headphones</span>
          <span class="ecommerce-2__product__colors">
            <span class="ecommerce-2__product__color" style="background-color: #cbcbcb;"></span>
            <span class="ecommerce-2__product__color" style="background-color: #c9ac96;"></span>
            <span class="ecommerce-2__product__color" style="background-color: #a2a5aa;"></span>
            <span class="ecommerce-2__product__color" style="background-color: #d4a6a0;"></span>
          </span>
          <span class="ecommerce-2__product__price">$299.95</span>
        </a>
      </div>
      <div class="ecommerce-2__item" data-aos="fade-up">
        <a class="ecommerce-2__product" href="#">
          <img class="ecommerce-2__product__image" src="assets/img/ecommerce2/image-4.jpg" alt=""/>
          <span class="ecommerce-2__product__title h2" data-equalizer-watch="data-equalizer-watch">Studio Wireless Over Ear Headphones</span>
          <span class="ecommerce-2__product__colors">
            <span class="ecommerce-2__product__color" style="background-color: #2a4b77;"></span>
            <span class="ecommerce-2__product__color" style="background-color: #e2e1dd;"></span>
            <span class="ecommerce-2__product__color" style="background-color: #000000;"></span>
            <span class="ecommerce-2__product__color" style="background-color: #dc3438;"></span>
          </span>
          <span class="ecommerce-2__product__price">$299.95</span>
        </a>
      </div>
    </div>
    <a class="ecommerce-2__more-link" href="#" data-aos="fade-up">
      {{>icon-recircle}} Show more headphones
    </a>
  </div>
</section>