<section class="ecommerce-4">
  <div class="ecommerce-4__container container">
    <h2 class="ecommerce-4__title" data-aos="fade-up">You May Also Like</h2>
    <div class="ecommerce-4__block__wrap" data-aos="fade-up">
      <div class="ecommerce-4__block owl-carousel">
        <div class="ecommerce-4__block__item">
            <a class="ecommerce-4__block__item__product" href="#">
                <img class="ecommerce-4__block__item__product__image" src="assets/img/ecommerce3/like-image-01.jpg"/>
                <div class="ecommerce-4__block__item__product__title">iPad mini 4 Smart Cover Lavender</div>
                <div class="ecommerce-4__block__item__product__price">$39.00</div>
            </a>
        </div>
        <div class="ecommerce-4__block__item">
            <a class="ecommerce-4__block__item__product" href="#">
                <img class="ecommerce-4__block__item__product__image" src="assets/img/ecommerce3/like-image-02.jpg"/>
                <div class="ecommerce-4__block__item__product__title">iPhone 6s Plus Silicone Case Stone</div>
                <div class="ecommerce-4__block__item__product__price">$45.00</div>
            </a>
        </div>
        <div class="ecommerce-4__block__item">
            <a class="ecommerce-4__block__item__product" href="#">
                <img class="ecommerce-4__block__item__product__image" src="assets/img/ecommerce3/like-image-01.jpg"/>
                <div class="ecommerce-4__block__item__product__title">iPad mini 4 Smart Cover Lavender</div>
                <div class="ecommerce-4__block__item__product__price">$39.00</div>
            </a>
        </div>
        <div class="ecommerce-4__block__item">
            <a class="ecommerce-4__block__item__product" href="#">
                <img class="ecommerce-4__block__item__product__image" src="assets/img/ecommerce3/like-image-02.jpg"/>
                <div class="ecommerce-4__block__item__product__title">iPhone 6s Plus Silicone Case Stone</div>
                <div class="ecommerce-4__block__item__product__price">$45.00</div>
            </a>
        </div>
        <div class="ecommerce-4__block__item">
            <a class="ecommerce-4__block__item__product" href="#">
                <img class="ecommerce-4__block__item__product__image" src="assets/img/ecommerce3/like-image-01.jpg"/>
                <div class="ecommerce-4__block__item__product__title">iPad mini 4 Smart Cover Lavender</div>
                <div class="ecommerce-4__block__item__product__price">$39.00</div>
            </a>
        </div>
      </div>
      <div class="ecommerce-4__nav">
        <div class="ecommerce-4__nav__prev">
            <i class="fas fa-angle-left fa-2x"></i>
        </div>
        <div class="ecommerce-4__nav__next">
            <i class="fas fa-angle-right fa-2x"></i>
        </div>
      </div>
    </div>
  </div>
</section>