<section class="features-steps js-block">
  <div class="features-steps__container container">
    <div class="features-steps__content">
      <h2 class="h1 features-steps__content__title" data-aos="fade-up">Make Something Great. Playfully.</h2>
      <p class="features-steps__content__subheading subheading" data-aos="fade-up">Components of Module UI Kit are fully customizable and easy to use. So, you can copy, paste, rename, rearrange, change colors, change vector shapes or do it all at once!</p>
      <div class="features-steps__content__block">
        <div class="features-steps__content__block__image" data-aos="fade-up"></div>
        <div class="features-steps__content__block__items">
          <section class="features-steps__content__block__items__item" data-aos="fade-up">
            <div class="features-steps__content__block__items__item__number">1</div>
            <div class="features-steps__content__block__items__item__content">
              <h3 class="features-steps__content__block__items__item__content__title">User Interface Design</h3>
              <p class="features-steps__content__block__items__item__content__text">We push ourselves to new levels of inspired excellence with each project and we sweat creativity. You won’t see anything until we’re done drooling at the result.</p>
            </div>
          </section>
          <section class="features-steps__content__block__items__item" data-aos="fade-up">
            <div class="features-steps__content__block__items__item__number">2</div>
            <div class="features-steps__content__block__items__item__content">
              <h3 class="features-steps__content__block__items__item__content__title">Title - Identity & Design</h3>
              <p class="features-steps__content__block__items__item__content__text">Body 1 - We’ll determine colours, typefaces, social media assets and everything you need to establish a new and compelling image which reflects your company’s values</p>
            </div>
          </section>
          <section class="features-steps__content__block__items__item" data-aos="fade-up">
            <div class="features-steps__content__block__items__item__number">3</div>
            <div class="features-steps__content__block__items__item__content">
              <h3 class="features-steps__content__block__items__item__content__title">Web Development</h3>
              <p class="features-steps__content__block__items__item__content__text">We know the web changes all the time, so we keep our eyes peeled to stay ahead of the curve. We craft websites that look beautiful on all different screen sizes</p>
            </div>
          </section>
        </div>
      </div>
      <div class="features-steps__content__info" data-aos="fade-up">
        <div class="features-steps__content__info__icon">
          {{>icon-info}}
        </div>
        <div class="features-steps__content__info__text">It’s simple, fast and easy to use. You can share your files through our mobile apps</div>
      </div>
    </div>
  </div>
</section>