<section class="features-6">
  <div class="section grid-container">
    <h2 class="h1 margin-bottom-0 text-center">Ask More of your Devices</h2>
    <p class="lead margin-bottom-2 text-center">With all these new apps on your TV, what’s the best way to find something to watch? Just ask Her. With the Her Remote, you tell your TV exactly what you want to watch.</p>
    <div class="grid-x medium-up-2 large-up-3">
      <div class="cell" data-aos="fade-up" data-aos-duration="800">
        <div class="text-center">
          <i class="fas fa-clone fa-3x margin-vertical-1"></i>
          <h3 class="h2">Framer Basics</h3>
          <p class="paragraph-narrow centered">Learn how to create interactive prototypes with Framer.</p>
        </div>
      </div>
      <div class="cell" data-aos="fade-up" data-aos-duration="800">
        <div class="text-center">
          <i class="fas fa-chart-bar fa-3x margin-vertical-1"></i>
          <h3 class="h2">Import Designs</h3>
          <p class="paragraph-narrow centered">These groups are highly adaptable. They’re able to learn from each other.</p>
        </div>
      </div>
      <div class="cell" data-aos="fade-up" data-aos-duration="800">
        <div class="text-center">
          <i class="fas fa-cloud fa-3x margin-vertical-1"></i>
          <h3 class="h2">Mashup Portraits</h3>
          <p class="paragraph-narrow centered">After importing, all your layers are selectable and have their position, hierarchy and masking set.</p>
        </div>
      </div>
      <div class="cell" data-aos="fade-up" data-aos-duration="800">
        <div class="text-center">
          <i class="fas fa-comments fa-3x margin-vertical-1"></i>
          <h3 class="h2">Receive Messages</h3>
          <p class="paragraph-narrow centered">Learn how to create interactive prototypes with Framer.</p>
        </div>
      </div>
      <div class="cell" data-aos="fade-up" data-aos-duration="800">
        <div class="text-center">
          <i class="fas fa-globe fa-3x margin-vertical-1"></i>
          <h3 class="h2">Share the World</h3>
          <p class="paragraph-narrow centered">These groups are highly adaptable. They’re able to learn from each other.</p>
        </div>
      </div>
      <div class="cell" data-aos="fade-up" data-aos-duration="800">
        <div class="text-center">
          <i class="fas fa-thumbs-up fa-3x margin-vertical-1"></i>
          <h3 class="h2">Infinite Infinity</h3>
          <p class="paragraph-narrow centered">After importing, all your layers are selectable and have their position, hierarchy and masking set.</p>
        </div>
      </div>
    </div>
  </div>
</section>
