<section class="bg-gray-lightest">
  <div class="section grid-container ">
    <h2 class="h1 margin-bottom-0 text-center">Build products, apps and services</h2>
    <p class="lead margin-bottom-2 text-center">Foundation is the professional choice for designers, developers and teams.</p>
    <div class="grid-x grid-margin-x margin-bottom-3">
      <div class="cell small-12 large-4" data-aos="fade-up" data-aos-duration="800">
        <div class="text-center">
          <i class="fas fa-code fa-3x margin-vertical-1"></i>
          <h3 class="h2">Semantic</h3>
          <p class="paragraph centered">Everything is semantic. You can have the cleanest markup without sacrificing the utility and speed of Foundation.</p>
        </div>
      </div>
      <div class="cell small-12 large-4" data-aos="fade-up" data-aos-duration="800">
        <div class="text-center">
          <i class="fas fa-mobile-alt fa-3x margin-vertical-1"></i>
          <h3 class="h2">Mobile First</h3>
          <p class="paragraph centered">You can build for small devices first. Then, as devices get larger and larger, layer in more complexity for a complete responsive design.</p>
        </div>
      </div>
      <div class="cell small-12 large-4" data-aos="fade-up" data-aos-duration="800">
        <div class="text-center">
          <i class="fas fa-cogs fa-3x margin-vertical-1"></i>
          <h3 class="h2">Customizable</h3>
          <p class="paragraph centered">You can customize your build to include or remove certain elements, as well as define the size of columns, colors, font size and more.</p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a href="#">Learn more about why Foundation fits in your company →</a>
    </div>
  </div>
</section>
