<section class="features-4">
  <div class="features-4__container container">
    <div class="features-4__list">
      <div class="features-4__list__item" data-aos="fade-up">
        <div class="features-4__list__item__icon features-4__list__item__icon--structure">
          {{>icon-structure}}
        </div>
        <h3 class="features-4__list__item__title">Clean Structure</h3>
        <p class="features-4__list__item__text">24/7 proactive threat scanning to prevent attacks.</p>
      </div>
      <div class="features-4__list__item" data-aos="fade-up">
        <div class="features-4__list__item__icon features-4__list__item__icon--design">
          {{>icon-design}}
        </div>
        <h3 class="features-4__list__item__title">Secure</h3>
        <p class="features-4__list__item__text">To keep your site safe from any of hiccups.</p>
      </div>
      <div class="features-4__list__item" data-aos="fade-up">
        <div class="features-4__list__item__icon features-4__list__item__icon--layers">
          {{>icon-layers}}
        </div>
        <h3 class="features-4__list__item__title">Layers</h3>
        <p class="features-4__list__item__text">Reliably powered by Google Cloud with NGINX caching.</p>
      </div>
      <div class="features-4__list__item" data-aos="fade-up">
        <div class="features-4__list__item__icon features-4__list__item__icon--great-fonts">
          {{>icon-great-fonts}}
        </div>
        <h3 class="features-4__list__item__title">Great Fonts</h3>
        <p class="features-4__list__item__text">Free and automatic SSL with Let's Encrypt.</p>
      </div>
    </div>
  </div>
</section>