<section class="features-3-device grid-container">
    <header>
        <h2 class="features-3-device__tag tag-1" data-aos="fade-up">Simple & Fast</h2>
        <p class="features-3-device__title h1" data-aos="fade-up">Have Fun Sharing</p>
    </header>
    <div class="features-3-device__wrap">
        <div class="features-3-device__block" data-aos="fade-up">
            <section class="features-3-device__block__item">
                <div class="features-3-device__block__item__icon features-3-device__block__item__icon--layers">
                    <i class="fas fa-share-square fa-2x"></i>
                </div>
                <div class="features-3-device__block__item__content">
                    <h3 class="h4 features-3-device__block__item__title">Real-Time Sharing for Infinite Kind of Projects</h3>
                    <p class="features-3-device__block__item__text">Be in control of your information by setting policies in real-time knowing your personal or company information</p>
                </div>
            </section>
            <section class="features-3-device__block__item">
                <div class="features-3-device__block__item__icon features-3-device__block__item__icon--design">
                    <i class="fas fa-edit fa-2x"></i>
                </div>
                <div class="features-3-device__block__item__content">
                    <h3 class="h4 features-3-device__block__item__title">Edit With Anyone</h3>
                    <p class="features-3-device__block__item__text">It’s simple, fast and easy to use. You can share your files through our mobile apps, web app, and desktop client</p>
                </div>
            </section>
            <section class="features-3-device__block__item">
                <div class="features-3-device__block__item__icon features-3-device__block__item__icon--structure">
                    <i class="fas fa-lock fa-2x"></i>
                </div>
                <div class="features-3-device__block__item__content">
                    <h3 class="h4 features-3-device__block__item__title">Secure Environment</h3>
                    <p class="features-3-device__block__item__text">Your business can keep running the way you are used to. Use our advance dadvanced</p>
                </div>
            </section>
        </div>
        <figure class="features-3-device__image" data-aos="fade-up">
            <img class="features-3-device__image__img" src="assets/img/sharing-image.png" alt=""/>
        </figure>
    </div>
</section>