<section class="features-steps-vertical border-bottom">
  <div class="features-steps-vertical__container container">
    <div class="features-steps-vertical__content">
      <div class="features-steps-vertical__content__tag tag-1" data-aos="fade-up">UI dreams</div>
      <h2 class="h1 features-steps-vertical__content__title" data-aos="fade-up">Import Graphics from Sketch to Photoshop. Easily.</h2>
      <div class="features-steps-vertical__content__block">
        <section class="features-steps-vertical__content__block__item" data-aos="fade-up">
          <div class="features-steps-vertical__content__block__item__number">1</div>
          <h3 class="features-steps-vertical__content__block__item__title">Real-Time Sharing for Infinite Kind of Projects</h3>
          <p class="features-steps-vertical__content__block__item__text">Be in control of your information by setting policies in real-time knowing your personal or company information</p>
        </section>
        <section class="features-steps-vertical__content__block__item" data-aos="fade-up">
          <div class="features-steps-vertical__content__block__item__number">2</div>
          <h3 class="features-steps-vertical__content__block__item__title">Edit With Anyone</h3>
          <p class="features-steps-vertical__content__block__item__text">It’s simple, fast and easy to use. You can share your files through our mobile apps, web app, and desktop client</p>
        </section>
        <section class="features-steps-vertical__content__block__item" data-aos="fade-up">
          <div class="features-steps-vertical__content__block__item__number">3</div>
          <h3 class="features-steps-vertical__content__block__item__title">Professional Dvd Replication</h3>
          <p class="features-steps-vertical__content__block__item__text">Of all of the celestial bodies that capture our attention and fascination as astronomers</p>
        </section>
      </div>
      <div class="wrap" data-aos="fade-up">
        <button class="features-steps-vertical__content__button button large secondary">Watch explainer</button>
      </div>
    </div>
  </div>
</section>