<section class="features-panorama">
  <div class="features-panorama__container container">
    <div class="features-panorama__content">
      <header>
        <h2 class="h1 features-panorama__content__title" data-aos="fade-up">The Best Way to Work Together</h2>
        <p class="features-panorama__content__subheading subheading" data-aos="fade-up">We design and develop software for funded startups and established companies. Here are just some examples of our work</p>
      </header>
      <div class="features-panorama__content__image" data-aos="fade-up">
        <img class="features-panorama__content__image__img" src="assets/img/webservice/together-image.png" alt=""/>
      </div>
      <div class="features-panorama__content__block">
        <section class="features-panorama__content__block__item" data-aos="fade-up">
          <figure class="features-panorama__content__block__item__left">
            <div class="features-panorama__content__block__item__left__icon">
              {{>icon-graph}}
            </div>
          </figure>
          <div class="features-panorama__content__block__item__right">
            <h3 class="features-panorama__content__block__item__right__title">Keep your Data</h3>
            <p class="features-panorama__content__block__item__right__description">Enterprise-ready performance and controls.</p>
          </div>
        </section>
        <section class="features-panorama__content__block__item" data-aos="fade-up">
          <figure class="features-panorama__content__block__item__left">
            <div class="features-panorama__content__block__item__left__icon">
              {{>icon-pencil}}
            </div>
          </figure>
          <div class="features-panorama__content__block__item__right">
            <h3 class="features-panorama__content__block__item__right__title">Prototype your Project</h3>
            <p class="features-panorama__content__block__item__right__description">24/7 proactive threat scanning to prevent attacks.</p>
          </div>
        </section>
        <section class="features-panorama__content__block__item" data-aos="fade-up">
          <div class="features-panorama__content__block__item__left">
            <figure class="features-panorama__content__block__item__left__icon">
              {{>icon-coding}}
            </figure>
          </div>
          <div class="features-panorama__content__block__item__right">
            <h3 class="features-panorama__content__block__item__right__title">Create Smart Texts</h3>
            <p class="features-panorama__content__block__item__right__description">24/7 proactive threat scanning to prevent attacks.</p>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>