<section class="features-6-no-icon">
  <div class="features-6-no-icon__container grid-container">
    <section class="features-6-no-icon__item" data-aos="fade-up">
      <h3 class="features-6-no-icon__item__title">Real-Time Sharing</h3>
      <p class="features-6-no-icon__item__text">Be in control of your information by setting policies in real-time knowing your personal or company</p>
    </section>
    <section class="features-6-no-icon__item" data-aos="fade-up">
      <h3 class="features-6-no-icon__item__title">Edit With Anyone</h3>
      <p class="features-6-no-icon__item__text">It’s simple, fast and easy to use. You can share your files through our mobile apps, web app</p>
    </section>
    <section class="features-6-no-icon__item" data-aos="fade-up">
      <h3 class="features-6-no-icon__item__title">Secure Environment</h3>
      <p class="features-6-no-icon__item__text">Your business can keep running the way you are used to.</p>
    </section>
    <section class="features-6-no-icon__item" data-aos="fade-up">
      <h3 class="features-6-no-icon__item__title">Easily Track</h3>
      <p class="features-6-no-icon__item__text">Only the recipients who you have granted access to, will be able to view or edit these files.</p>
    </section>
    <section class="features-6-no-icon__item" data-aos="fade-up">
      <h3 class="features-6-no-icon__item__title">Edit and Share Files</h3>
      <p class="features-6-no-icon__item__text">You can Edit your files through the Quiver web app, Share securely via email, the cloud, or storage platforms like Box and Dropbox</p>
    </section>
    <section class="features-6-no-icon__item" data-aos="fade-up">
      <h3 class="features-6-no-icon__item__title">Adopt Without any Obstacles</h3>
      <p class="features-6-no-icon__item__text">Every picture, video, document is protected at file level, and embedded with our security features.</p>
    </section>
  </div>
</section>