<section class="features-icons">
  <div class="features-icons__container container">
    <h2 class="h1 features-icons__title" data-aos="fade-up">Creating Outstanding</h2>
    <p class="features-icons__subheading subheading" data-aos="fade-up">We design solutions for digital interactions. With its approach, our team generates extraordinary value for brands through innovative design</p>
    <p class="features-icons__tag tag-1" data-aos="fade-up">Here is a cross of sections what we do:</p>
    <div class="features-icons__wrapper">
      <div class="features-icons__row row medium-up-3 small-up-2">
        <section class="features-icons__column column">
          <div class="features-icons__item" data-aos="fade-up">
            {{>icon-graph}}
            <h3 class="features-icons__item__title">Consultancy</h3>
          </div>
        </section>
        <section class="features-icons__column column">
          <div class="features-icons__item" data-aos="fade-up">
            {{>icon-pencil}}
            <h3 class="features-icons__item__title">Branding</h3>
          </div>
        </section>
        <section class="features-icons__column column">
          <div class="features-icons__item" data-aos="fade-up">
            {{>icon-design}}
            <h3 class="features-icons__item__title">Design</h3>
          </div>
        </section>
        <section class="features-icons__column column">
          <div class="features-icons__item" data-aos="fade-up">
            {{>icon-strategy}}
            <h3 class="features-icons__item__title">Strategy</h3>
          </div>
        </section>
        <section class="features-icons__column column">
          <div class="features-icons__item" data-aos="fade-up">
            {{>icon-coding}}
            <h3 class="features-icons__item__title">Coding</h3>
          </div>
        </section>
        <section class="features-icons__column column">
          <div class="features-icons__item" data-aos="fade-up">
            {{>icon-support}}
            <h3 class="features-icons__item__title">Support</h3>
          </div>
        </section>
      </div>
    </div>
    <div data-aos="fade-up">
      <a class="features-icons__button button large secondary" href="#">Our approach</a>
    </div>
  </div>
</section>