<div class="features-img-circle">
  <div class="features-img-circle__container container">
    <div class="features-img-circle__tag tag-1" data-aos="fade-up">Handrafted sound</div>
    <h1 class="features-img-circle__title" data-aos="fade-up">Updated Acoustics Enhance Clarity</h1>
    <div class="features-img-circle__subheading subheading" data-aos="fade-up">A complete update of Beats' most popular model, the Beats by Dr. Dre Solo2 headphones offer improved acoustics, a wider range of sound</div>
    <div class="features-img-circle__list">
      <div class="features-img-circle__item" data-aos="fade-up">
        <div class="features-img-circle__item__image"><img class="features-img-circle__item__image__img" src="assets/img/ecommerce2/features-1.png" alt=""/></div>
        <h3 class="features-img-circle__item__title">New Kind of Sound</h3>
        <p class="features-img-circle__item__text">Headphones have a more dynamic and wider range of sound, with a clarity that can bring you closer to the artist</p>
      </div>
      <div class="features-img-circle__item" data-aos="fade-up">
        <div class="features-img-circle__item__image"><img class="features-img-circle__item__image__img" src="assets/img/ecommerce2/features-2.png" alt=""/></div>
        <h3 class="features-img-circle__item__title">Custom Comfort</h3>
        <p class="features-img-circle__item__text">Starting at the center of the flexible headband, the frame is curved even more to enhance the custom-fit feeling</p>
      </div>
      <div class="features-img-circle__item" data-aos="fade-up">
        <div class="features-img-circle__item__image"><img class="features-img-circle__item__image__img" src="assets/img/ecommerce2/features-3.png" alt=""/></div>
        <h3 class="features-img-circle__item__title">Streamlined Design</h3>
        <p class="features-img-circle__item__text">Fast-flowing curves, a lack of visible screws, and easy foldability exemplify the sleek aesthetic</p>
      </div>
    </div>
  </div>
</div>