<footer class="footer-large">
  <div class="footer-large__container container">
    <div class="footer-large__content">
      <a class="footer-large__content__logo" href="#">
        <div class="footer-large__content__logo__icon"></div>
      </a>
      <p class="footer-large__content__description">Huge modern UI Kit containing 130+ terrific components in 11 popular categories. Each component is fully.</p>
      <div class="footer-large__content__menu">
        <div class="footer-large__content__menu__column">
          <div class="footer-large__content__menu__column__title">Support</div>
          <ul class="footer-large__content__menu__column__list">
            <li class="footer-large__content__menu__column__list__item"><a class="footer-large__content__menu__column__list__item__link" href="#">About Us</a></li>
            <li class="footer-large__content__menu__column__list__item"><a class="footer-large__content__menu__column__list__item__link" href="#">Press</a></li>
            <li class="footer-large__content__menu__column__list__item"><a class="footer-large__content__menu__column__list__item__link" href="#">FAQ</a></li>
          </ul>
        </div>
        <div class="footer-large__content__menu__column">
          <div class="footer-large__content__menu__column__title">Business</div>
          <ul class="footer-large__content__menu__column__list">
            <li class="footer-large__content__menu__column__list__item"><a class="footer-large__content__menu__column__list__item__link" href="#">Home</a></li>
            <li class="footer-large__content__menu__column__list__item"><a class="footer-large__content__menu__column__list__item__link" href="#">Mobile</a></li>
            <li class="footer-large__content__menu__column__list__item"><a class="footer-large__content__menu__column__list__item__link" href="#">Mobile</a></li>
          </ul>
        </div>
        <div class="footer-large__content__menu__column">
          <div class="footer-large__content__menu__column__title">Community</div>
          <ul class="footer-large__content__menu__column__list">
            <li class="footer-large__content__menu__column__list__item"><a class="footer-large__content__menu__column__list__item__link" href="#">Developers</a></li>
            <li class="footer-large__content__menu__column__list__item"><a class="footer-large__content__menu__column__list__item__link" href="#">Referrals</a></li>
            <li class="footer-large__content__menu__column__list__item"><a class="footer-large__content__menu__column__list__item__link" href="#">Forum</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-large__content__language">
        <div class="footer-large__content__language__icon">
          {{>icon-globe}}
        </div>
        <select class="footer-large__content__language__select" id="language-select">
          <option class="footer-large__content__language__select__item option-item" data-item="1">English (UK)</option>
          <option class="footer-large__content__language__select__item option-item" data-item="2">Русский (RU)</option>
        </select>
        <div class="footer-large__content__language__arrow"></div>
      </div>
    </div>
  </div>
</footer>