<footer class="footer centered dark">
    <div class="margin-bottom-1">
        <a class="footer__logo" href="/">
            {{>logo}}
        </a>
    </div>
    <p>© 2018 • Bastoche • All rights reserved</p>
    <p class="text-center">8, rue de l’Arlésienne<br class="show-for-small-only"> <span class="show-for-mobile">•</span> 13310 • Saint-Martin-de-Crau</p>
    <ul class="menu icon-white">
        <li>
            <a class="" href="#">
                {{>icon-gp}}
            </a>
        </li>
        <li>
            <a class="" href="#">
                {{>icon-facebook-02}}
            </a>
        </li>
       <li>
           <a class="" href="#">
               {{>icon-twitter}}
           </a>
       </li>
       <li>
           <a class="" href="#">
               {{>icon-instagram}}
           </a>
       </li>
       <li>
           <a class="" href="#">
               {{>icon-behance}}
           </a>
       </li>
    </ul>
</footer>