<footer class="footer-address-centered">
  <div class="footer-address-centered__top">
    <div class="footer-address-centered__top__container container">
      <h3 class="footer-address-centered__title">Amsterdam Store</h3>
      <p class="footer-address-centered__address">Singel 459<br/>1012 WP Amsterdam<br/>The Netherlands</p>
      <div class="footer-address-centered__social">
        <a class="footer-address-centered__social__link footer-address-centered__social__link--facebook" href="#">
          {{>icon-facebook}}
        </a>
        <a class="footer-address-centered__social__link footer-address-centered__social__link--twitter" href="#">
          {{>icon-twitter}}
        </a>
        <a class="footer-address-centered__social__link footer-address-centered__social__link--instagram" href="#">
          {{>icon-instagram}}
        </a>
      </div>
    </div>
  </div>
  <div class="footer-address-centered__bottom">
    <div class="footer-address-centered__bottom__container container">
      <div class="footer-address-centered__bottom__left">
        <a class="show-for-medium" href="#">
          <img src="assets/img/ecommerce2/france.png"/>
          <span class="footer-address-centered__bottom__left__country">France</span>
        </a>
      </div>
      <div class="footer-address-centered__bottom__center">
        <ul class="footer-address-centered__menu">
          <li class="footer-address-centered__menu__item"><a class="footer-address-centered__menu__item__link" href="#">Apps</a></li>
          <li class="footer-address-centered__menu__item"><a class="footer-address-centered__menu__item__link" href="#">Gadgets</a></li>
          <li class="footer-address-centered__menu__item"><a class="footer-address-centered__menu__item__link" href="#">Science</a></li>
          <li class="footer-address-centered__menu__item"><a class="footer-address-centered__menu__item__link" href="#">Nature</a></li>
          <li class="footer-address-centered__menu__item"><a class="footer-address-centered__menu__item__link" href="#">Creative</a></li>
        </ul>
      </div>
      <div class="footer-address-centered__bottom__right">
        <div class="footer-address-centered__copyright">© 2018 Sébastien Pereda</div>
      </div>
    </div>
  </div>
</footer>