<footer class="footer">
    <a class="footer__logo" href="/">
        {{>logo}}
    </a>
    <div>
        <ul class="menu">
            <li><a href="#" class="show-for-mobile">Showcase</a></li>
            <li><a href="#" class="show-for-medium">Develop</a></li>
            <li><a href="#" class="show-for-large">Tutorials</a></li>
            <li><a href="#" class="show-for-xlarge">Get Involved</a></li>
            <li><a href="#">Docs</a></li>
        </ul>
    </div>
    <div>
        <ul class="menu">
            <li><a href="#"><i class="fas fa-envelope"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
    </div>
</footer>