<footer class="footer dark">
    <a class="footer__logo" href="/">{{>logo}}</a>
    <p class="footer__copyright margin-left-2">© 2018 • Bastoche • All rights reserved</p>
    <p class="footer__copyright">8, rue de l’Arlésienne<br class="show-for-small-only"> <span class="show-for-mobile">•</span> 13310 • Saint-Martin-de-Crau</p>
    <div class="footer__social">
        <a class="footer__social__link" href="#">{{>icon-gp}}</a>
        <a class="footer__social__link" href="#">{{>icon-facebook-02}}</a>
        <a class="footer__social__link" href="#">{{>icon-twitter}}</a>
        <a class="footer__social__link" href="#">{{>icon-instagram}}</a>
        <a class="footer__social__link" href="#">{{>icon-behance}}</a>
    </div>
</footer>