<div class="footer-complete">
  <div class="footer-complete__container container">
    <div class="footer-complete__content">
      <div class="footer-complete__content__top">
        <div class="footer-complete__content__top__item">
          <h3 class="footer-complete__content__top__item__title">Who We Are</h3>
          <ul class="footer-complete__content__top__item__menu">
            <li class="footer-complete__content__top__item__menu__item"><a class="footer-complete__content__top__item__menu__item__link" href="#">About Us</a></li>
            <li class="footer-complete__content__top__item__menu__item"><a class="footer-complete__content__top__item__menu__item__link" href="#">Careers</a></li>
            <li class="footer-complete__content__top__item__menu__item"><a class="footer-complete__content__top__item__menu__item__link" href="#">Feature Tour</a></li>
            <li class="footer-complete__content__top__item__menu__item"><a class="footer-complete__content__top__item__menu__item__link" href="#">Presentation</a></li>
          </ul>
        </div>
        <div class="footer-complete__content__top__item">
          <h3 class="footer-complete__content__top__item__title">Support</h3>
          <ul class="footer-complete__content__top__item__menu">
            <li class="footer-complete__content__top__item__menu__item"><a class="footer-complete__content__top__item__menu__item__link" href="#">Knowledge Base</a></li>
            <li class="footer-complete__content__top__item__menu__item"><a class="footer-complete__content__top__item__menu__item__link" href="#">Video Guides</a></li>
            <li class="footer-complete__content__top__item__menu__item"><a class="footer-complete__content__top__item__menu__item__link" href="#">Report a Bug</a></li>
            <li class="footer-complete__content__top__item__menu__item"><a class="footer-complete__content__top__item__menu__item__link" href="#">Terms of Use</a></li>
          </ul>
        </div>
        <div class="footer-complete__content__top__item">
          <h3 class="footer-complete__content__top__item__title">Contact Us</h3>
          <ul class="footer-complete__content__top__item__menu">
            <li class="footer-complete__content__top__item__menu__item">hello@module.com</li>
            <li class="footer-complete__content__top__item__menu__item">Studio M, 4th Floor8 Lower <br> Manchester street, M1 5QF<br/>+38 976 0875 9922</li>
          </ul>
        </div>
        <div class="footer-complete__content__top__item">
          <h3 class="footer-complete__content__top__item__title">Follow us</h3>
          <ul class="footer-complete__content__top__item__menu">
            <li class="footer-complete__content__top__item__menu__item social-block">
              <a class="footer-complete__content__top__item__menu__item__icon item-google-plus" href="#">
                {{>icon-gp}}
              </a>
              <a class="footer-complete__content__top__item__menu__item__icon item-facebook" href="#">
                {{>icon-facebook-02}}
              </a>
              <a class="footer-complete__content__top__item__menu__item__icon item-twitter" href="#">
                {{>icon-twitter}}
              </a>
              <a class="footer-complete__content__top__item__menu__item__icon item-instagram" href="#">
                {{>icon-instagram}}
              </a>
              <a class="footer-complete__content__top__item__menu__item__icon item-behance" href="#">
                {{>icon-behance}}
              </a>
            </li>
          </ul>
          <div class="footer-complete__content__top__item__menu__item text">We’re socialized!</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-complete__bottom">
  <div class="footer-complete__container container">
    <div class="footer-complete__content">
      <div class="footer-complete__content__bottom">
        <ul class="footer-complete__content__bottom__menu">
          <li class="footer-complete__content__bottom__menu__item"><a class="footer-complete__content__bottom__menu__item__link" href="#">Shop</a></li>
          <li class="footer-complete__content__bottom__menu__item"><a class="footer-complete__content__bottom__menu__item__link" href="#">Journal</a></li>
          <li class="footer-complete__content__bottom__menu__item"><a class="footer-complete__content__bottom__menu__item__link" href="#">Support</a></li>
          <li class="footer-complete__content__bottom__menu__item"><a class="footer-complete__content__bottom__menu__item__link" href="#">Service</a></li>
          <li class="footer-complete__content__bottom__menu__item"><a class="footer-complete__content__bottom__menu__item__link" href="#">About</a></li>
        </ul>
        <div class="footer-complete__content__bottom__copyright">© 2018 Bastoche Studio</div>
      </div>
    </div>
  </div>
</div>