<footer class="footer centered dark">
    <div class="margin-bottom-1">
        <ul class="menu">
            <li class="text-center"><a href="#">Showcase</a></li>
            <li class="text-center"><a href="#">Develop</a></li>
            <li class="text-center"><a href="#">Tutorials</a></li>
            <li class="text-center"><a href="#">Docs</a></li>
        </ul>
    </div>
    <div>
        <ul class="menu grid-x align-middle">
            <li class="margin-right-1">© 2018 Bastoche</li>
            <li><a href="#"><i class="fas fa-envelope"></i></a></li>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
        </ul>
    </div>
</footer>