<footer class="footer-get-started">
  <div class="footer-get-started__left">
    <a class="footer-get-started__link" href="#">Powered by Great Simple Studio</a>
    <div class="footer-get-started__left__wrap">
      <a class="footer-get-started__link" href="#">Terms of Use</a>
      <a class="footer-get-started__link" href="#">Privacy Policy</a>
    </div>
  </div>
  <div class="footer-get-started__right">
    <p class="footer-get-started__label">Free 14-days trial. No credit card required.</p>
    <a class="footer-get-started__button button" href="#">Get started</a>
  </div>
</footer>