<footer class="footer-address">
    <div class="footer-address__container container">
        <div class="footer-address__top__row row">
            <div class="footer-address__top__column column medium-4">
                <p class="footer-address__title">Hamburg</p>
                <ul class="footer-address__list">
                    <li class="footer-address__list__item">+49 40 432 91 222</li>
                    <li class="footer-address__list__item">hello@greatsimple.com</li>
                    <li class="footer-address__list__item">Lippmannstrasse 79, 22769, Hamburg Germany</li>
                </ul>
            </div>
            <div class="footer-address__top__column column medium-4">
                <p class="footer-address__title">Frankfurt</p>
                <ul class="footer-address__list">
                    <li class="footer-address__list__item">+49 69 484 484 90</li>
                    <li class="footer-address__list__item">hello@greatsimple.com</li>
                    <li class="footer-address__list__item">Steinstrasse 11, 40212 Düsseldorf, Germany</li>
                </ul>
            </div>
            <div class="footer-address__top__column column medium-4">
                <p class="footer-address__title"><a href="#">Hire Us</a></p>
                <p class="footer-address__title"><a href="#">Career opportunities</a></p>
            </div>
        </div>
        <div class="footer-address__bottom">
            <div class="footer-address__copyright">© 2016 Great Simple All rights reserved</div>
            <div class="footer-address__social">
                <a class="footer-address__social__link" href="#" target="_blank">
                    {{>icon-facebook}}
                </a>
                <a class="footer-address__social__link" href="#" target="_blank">
                    {{>icon-twitter}}
                </a>
                <a class="footer-address__social__link" href="#" target="_blank">
                    {{>icon-instagram}}
                </a>
            </div>
        </div>
    </div>
</footer>