<section class="get-started" data-aos="fade-up">
  <div class="get-started__container container">
    <h1 class="get-started__title">Get Started Now</h1>
    <div class="get-started__subheading subheading">Sign up and quickly get up and running with examples, tutorials, documentation, and a helpful community</div>
    <div class="get-started__form">
      <div class="get-started__form__textbox textbox">
        <input class="textbox__input" type="email" placeholder="E-mail" required="required"/>
      </div>
      <div class="get-started__form__textbox textbox textbox--password">
        <input class="textbox__input" type="password" placeholder="Password" required="required"/>
        <button class="textbox__toggle" type="button">
          {{>icon-eye}}
        </button>
      </div>
      <button class="get-started__form__button button large secondary" type="submit">Try it for Free</button>
    </div>
  </div>
</section>