<header class="js-block">

    {{>navbar-links-logo-login-light-shadow}}

    {{>menu-mobile-logo-links-connexion-black}}



    <!--<div class="grid-container">
        <div class="top-bar" id="burger">
            <button class="nav-button burger" type="button" role="button" aria-label="open/close navigation"><i></i></button>
        </div>
    </div>

    <div class="content">
        <nav class="top-content-section" data-aos="fade-up">
            <div class="grid-container">
                <div class="top-bar" id="menu">
                    <div class="top-bar-left">
                        <ul class="menu vertical medium-horizontal show-for-medium">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Tech Specs</a></li>
                            <li><a href="#">Pricing</a></li>
                        </ul>
                    </div>
                    <div class="top-bar-right show-for-medium">
                        <ul class="menu">
                            <li><a href="#">Log In</a></li>
                            <li><a class="button button&#45;&#45;transparent-white" href="#">Sign Up</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <div class="middle-content-section grid-container" data-aos="fade-up">
            <p class="h3 font-bold">Meet Module</p>
            <h1 class="">Ultimate Tool for Any Kind of Work on Earth</h1>
            <div class="grid-x">
                <button class="buttons__watch button button&#45;&#45;transparent-white show-for-mobile">
                    <i class="fas fa-play"></i> Watch video
                </button>
                <a class="button button&#45;&#45;transparent-white" href="#">Buy now</a>
            </div>
        </div>

        <div class="bottom-content-section">
            <a class="scroll js-scroll-down" href="#"></a>
        </div>
    </div>

    <div class="video__popup is-hidden">
        <div class="video__popup__item">
            <script src="https://player.vimeo.com/api/player.js" type="text/javascript" async="async"></script>
            <iframe class="video__popup__item__frame" id="video-frame" src="https://player.vimeo.com/video/195862890?title=0&amp;byline=0&amp;portrait=0" width="960" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <div class="video__popup__close">
            <i class="fas fa-times fa-lg color-white"></i>
        </div>
    </div>-->

</header>