<div class="header-products__container container">
    <div class="header-products__middle" data-aos="fade-up">
        <h1 class="header-products__middle__title">Summer 2016 Eyewear: First Drop</h1>
        <a class="header-products__middle__button button large secondary" href="#">Shop now</a>
        <div class="header-products__middle__info__wrap">
            <div class="header-products__middle__info">
                <p class="header-products__middle__info__text">Acne Studios Winston<br/>Sunglasses<span>— $380</span></p>
                <a class="header-products__middle__info__button" href="#">
                    {{>icon-arrow}}
                </a>
            </div>
        </div>
        <div class="header-products__middle__slider__wrap">
            <div class="header-products__middle__slider owl-carousel">
                <section class="header-products__middle__slider__item">
                    <div class="header-products__middle__slider__item__image">
                        <img src="assets/img/ecommerce/slider-item-01.jpg"/>
                    </div>
                    <div class="header-products__middle__slider__item__content">
                        <h2 class="header-products__middle__slider__item__content__title">New Sneakers</h2>
                        <a class="header-products__middle__slider__item__content__link" href="#">
                            Browse {{>icon-arrow}}
                        </a>
                    </div>
                </section>
                <section class="header-products__middle__slider__item">
                    <div class="header-products__middle__slider__item__image">
                        <img src="assets/img/ecommerce/slider-item-02.jpg"/>
                    </div>
                    <div class="header-products__middle__slider__item__content">
                        <h2 class="header-products__middle__slider__item__content__title">Raf Simons</h2>
                        <a class="header-products__middle__slider__item__content__link" href="#">
                            Shop accessories {{>icon-arrow}}
                        </a>
                    </div>
                </section>
                <section class="header-products__middle__slider__item">
                    <div class="header-products__middle__slider__item__image">
                        <img src="assets/img/ecommerce/slider-item-03.jpg"/>
                    </div>
                    <div class="header-products__middle__slider__item__content">
                        <h2 class="header-products__middle__slider__item__content__title">Helmut Lang</h2>
                        <a class="header-products__middle__slider__item__content__link" href="#">
                            Shop now {{>icon-arrow}}
                        </a>
                    </div>
                </section>
            </div>
            <div class="header-products__middle__slider__nav">
                <div class="header-products__middle__slider__nav__prev">
                    {{>icon-arrow}}
                </div>
                <div class="header-products__middle__slider__nav__next">
                    {{>icon-arrow}}
                </div>
            </div>
        </div>
    </div>
</div>