<div class="header__middle grid-container">
    <p class="header__middle__title color-gray-light lead font-bold">Meet Module</p>
    <h1 class="header__middle__subheading title-narrow">Ultimate Tool for Any Kind of Work on Earth</h1>
    <div class="grid-x align-center">
        <button class="buttons__watch button large button--transparent-white show-for-mobile margin-right-2">
            <i class="fas fa-play"></i> Watch video
        </button>
        <a class="button large button--transparent-white" href="#">Buy now</a>
    </div>
</div>
<div class="header__bottom header__bottom__scroll">
    <a class="scroll js-scroll-down" href="#"></a>
</div>
<div class="video__popup is-hidden">
    <div class="video__popup__item">
        <script src="https://player.vimeo.com/api/player.js" type="text/javascript" async="async"></script>
        <iframe class="video__popup__item__frame" id="video-frame" src="https://player.vimeo.com/video/195862890?title=0&amp;byline=0&amp;portrait=0" width="960" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="video__popup__close">
        <i class="fas fa-times fa-lg color-white"></i>
    </div>
</div>
