<div class="header-subscribe__bottom" data-aos="fade-up">
    <div class="header-subscribe__bottom__container container">
        <h1 class="header-subscribe__title">Ultimate Tool for Any Kind of Work on Earth</h1>
        <div class="header-subscribe__subheading subheading">You need the potential to design something completely new. Prototyping shouldn’t limit you.</div>
        <form class="header-subscribe__form">
            <div class="header-subscribe__form__textbox textbox">
                <input class="textbox__input" type="email" placeholder="E-mail" required="required"/>
            </div>
            <div class="header-subscribe__form__textbox textbox textbox--password">
                <input class="textbox__input" type="password" placeholder="Password" required="required"/>
                <button class="textbox__toggle" type="button">
                    {{>icon-eye}}
                </button>
            </div>
            <button class="header-subscribe__form__button button large secondary" type="submit">Try it for Free</button>
        </form>
    </div>
</div>
