<div class="hero-headline-left">
    <div class="hero-headline-left__container container-lg">
        <div class="hero-headline-left__content" data-aos="fade-up">
            <h1 class="hero-headline-left__content__title">Share, Sync and Collaborate Securely</h1>
            <div class="hero-headline-left__content__subheading subheading">While the likes of Oculus Rift and Sony's PlayStation VR are making the most noise about their VR experiences.</div>
            <div class="hero-headline-left__content__button button secondary">Try it for Free</div>
            <a class="hero-headline-left__content__watch show-for-large" href="#">
                <div class="hero-headline-left__content__watch__button"></div>
                <div class="hero-headline-left__content__watch__text">Watch educational video</div>
            </a>
        </div>
    </div>
</div>