<div class="header__container grid-container" data-aos="fade-up">
    <div class="header__content">
        <div class="header__middle">
            <h1 class="header__middle__title">New Sharing Made for People</h1>
            <p class="header__middle__subheading subheading">Share your files with complete control over who sees them, how and when</p>
            <a class="header__middle__button button button--transparent-white-lg" href="#">
            {{>facebook2}} Sign up with Facebook</a>
            <div class="header__middle__alter">
                <div class="header__middle__alter__line item-01"></div>
                <p class="header__middle__alter__text">or header using form</p>
                <div class="header__middle__alter__line item-02"></div>
            </div>
        </div>
        <div class="header__bottom">
            <form class="header__bottom__form">
                <div class="header__bottom__form__row grid-x grid-margin-x">
                    <div class="header__bottom__form__column cell small-12 medium-6">
                        <div class="header__bottom__form__textbox textbox">
                            <input class="textbox__input" type="email" placeholder="E-mail" required="required"/>
                        </div>
                    </div>
                    <div class="header__bottom__form__column cell small-12 medium-6">
                        <div class="header__bottom__form__textbox textbox textbox--password">
                            <input class="textbox__input" type="password" placeholder="Password" required="required"/>
                        </div>
                    </div>
                </div>
                <div class="header__bottom__form__row grid-x">
                    <div class="header__bottom__form__column cell small-12">
                        <button class="header__bottom__form__button button secondary" type="submit">Try it for Free</button>
                    </div>
                </div>
            </form>
            <p class="header__bottom__description">By signing up I agree to the terms of service and privacy policy</p>
        </div>
    </div>
</div>