<div class="header-product__middle" data-aos="fade-up">
    <div class="header-product__middle__container container">
        <div class="header-product__middle__content">
            <h1 class="header-product__title">Sync Your Sound. And Your Style.</h1>
            <div class="header-product__subheading subheading">Beats Pro over-ear headphones are made for relentless, heavy-duty use in the studio or in the club</div><img class="header-product__image animated" src="assets/img/ecommerce2/bg-black.jpg"/>
            <div class="header-product__colors"><span class="header-product__colors__item" style="background-color: #2b2b2b;" data-color="black"></span><span class="header-product__colors__item" style="background-color: #a8a4a1;" data-color="silver"></span><span class="header-product__colors__item" style="background-color: #ab9a89;" data-color="gold"></span><span class="header-product__colors__item" style="background-color: #ededed;" data-color="gloss"></span></div><a class="header-product__button button large secondary" href="#">Buy for $299.95</a>
        </div>
    </div>
</div>
<div class="header-product__bottom" data-aos="fade-up">
    <div class="header-product__bottom__container container">
        <div class="header-product__bottom__left">
            <a class="header-product__best-link" href="#">
                {{>icon-star}} Best headphones 2016 by Cnet.com
            </a>
        </div>
        <div class="header-product__bottom__right">
            <div class="header-product__label">“A pricey Bluetooth headphone with premium sound”</div>
            <a class="header-product__all-link" href="#">Read all reviews
                <span class="header-product__all-link__arrow">
                    {{>icon-arrow}}
                </span>
            </a>
        </div>
    </div>
</div>