<div class="header__middle grid-container" data-aos="fade-up">
    <h1 class="header__middle__title color-gray-darkest">Share your Files with Ease</h1>
    <p class="small-quote header__middle__subheading color-gray-darker">We push ourselves to new levels of inspired excellence with each project and we sweat creativity.</p>
    <a class="header__middle__button button" href="#">
        <span class="header__middle__button__text">Buy now</span>
        <span class="header__middle__button__price">€23</span>
    </a>
</div>
<div class="header__bottom header__bottom__scroll">
    <a class="scroll primary js-scroll-down" href="#"></a>
</div>

