<section class="section grid-container">
    <div class="grid-x grid-margin-x align-middle">
        <div class="cell medium-6">
            <img src="https://source.unsplash.com/random/600x400">
        </div>
        <div class="cell medium-6 margin-top-on-mobile padding-left-on-desktop" data-aos="fade-left">
            <h2 class="h1 centered-on-mobile">What Is Foundation?</h2>
            <p class="subheading centered-on-mobile">A Framework for any device, medium, and accessibility. Foundation is a family of responsive front-end frameworks that make it easy to design beautiful responsive websites, apps and emails that look amazing on any device.</p>
        </div>
    </div>
</section>

