<div class="image-slider orbit" role="region" aria-label="FullScreen Pictures" data-orbit>
  <ul class="orbit-container">
    <li class="orbit-slide is-active">
      <div class="image-slider__item slide-1">
        <div class="image-slider__item__container grid-container">
          <p class="image-slider__item__tag tag-2">Growing old</p>
          <h2 class="image-slider__item__title">
            The Store Where Generous Matter More
          </h2>
          <p class="image-slider__item__text">The store where generous deeds buys</p>
          <a class="image-slider__item__link" href="#">View full project
            {{>arrow}}
          </a>
        </div>
      </div>
    </li>
    <li class="orbit-slide">
      <div class="image-slider__item slide-2">
        <div class="image-slider__item__container grid-container">
          <p class="image-slider__item__tag tag-2">Generous store</p>
          <h2 class="image-slider__item__title">
            A Global Website For Cocio Lovers
          </h2>
          <p class="image-slider__item__text">A global website for milk brand</p>
          <a class="image-slider__item__link" href="#">View full project
            {{>arrow}}
          </a>
        </div>
      </div>
    </li>
    <li class="orbit-slide">
      <div class="image-slider__item slide-3">
        <div class="image-slider__item__container grid-container">
          <p class="image-slider__item__tag tag-2">Burberry</p>
          <h2 class="image-slider__item__title">
            The Smart and Simple Way to Invest in Future
          </h2>
          <p class="image-slider__item__text">The store where generous deeds buys</p>
          <a class="image-slider__item__link" href="#">View full project
            {{>arrow}}
          </a>
        </div>
      </div>
    </li>
    <li class="orbit-slide">
      <div class="image-slider__item slide-4">
        <div class="image-slider__item__container grid-container">
          <p class="image-slider__item__tag tag-2">Growing old</p>
          <h2 class="image-slider__item__title">
            The Store Where Generous Matter More
          </h2>
          <p class="image-slider__item__text">The store where generous deeds buys</p>
          <a class="image-slider__item__link" href="#">View full project
            {{>arrow}}
          </a>
        </div>
      </div>
    </li>
  </ul>
  <div class="bullets-container">
    <nav class="orbit-bullets">
      <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
      <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
      <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
      <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
    </nav>
  </div>
</div>

