<div class="infos-tabs">
  <div class="infos-tabs__container container">
    <div class="infos-tabs__filter" data-aos="fade-up">
      <button class="infos-tabs__filter__button is-active" data-item="1">Description</button>
      <button class="infos-tabs__filter__button" data-item="2">Shipping Information</button>
      <button class="infos-tabs__filter__button" data-item="3">How to Use</button>
    </div>
    <div class="infos-tabs__block" data-item="1">
      <section class="infos-tabs__block__item" data-aos="fade-up">
        <h2 class="infos-tabs__block__item__title">Advanced design</h2>
        <p class="infos-tabs__block__item__description">Canary is elegant enough to enhance almost any room, and understated enough to go unnoticed by intruders</p>
      </section>
      <section class="infos-tabs__block__item" data-aos="fade-up">
        <h2 class="infos-tabs__block__item__title">More Than a Camera</h2>
        <p class="infos-tabs__block__item__description">Protect your home with Canary’s 90+ dB siren, motion-activated recording, auto-arm/disarm, and exclusive air quality, temperature, and humidity monitoring.</p>
      </section>
      <section class="infos-tabs__block__item" data-aos="fade-up">
        <h2 class="infos-tabs__block__item__title">See and hear your home</h2>
        <p class="infos-tabs__block__item__description">Stream real-time video of your home, and receive notifications whenever motion is detected, with Canary’s 1080p HD camera, 147-degree wide-angle lens, automatic night vision, and high-quality audio.</p>
      </section>
      <section class="infos-tabs__block__item" data-aos="fade-up">
        <h2 class="infos-tabs__block__item__title">Superior Value</h2>
        <p class="infos-tabs__block__item__description">There are no installation or monthly fees and you don't need additional sensors, base stations, or cameras.</p>
      </section>
      <section class="infos-tabs__block__item" data-aos="fade-up">
        <h2 class="infos-tabs__block__item__title">Protect your home at all times</h2>
        <p class="infos-tabs__block__item__description">No need to worry about daytime or nighttime settings. Canary’s night vision is automatically activated by low-light situations.</p>
      </section>
      <section class="infos-tabs__block__item" data-aos="fade-up">
        <h2 class="infos-tabs__block__item__title">Multiple users</h2>
        <p class="infos-tabs__block__item__description">Everyone in your home can download the app and check on your Canary, with no additional fees.</p>
      </section>
    </div>
    <div class="infos-tabs__block is-hidden" data-item="2">
      <section class="infos-tabs__block__item" data-aos="fade-up">
        <h2 class="infos-tabs__block__item__title">See and hear your home</h2>
        <p class="infos-tabs__block__item__description">Stream real-time video of your home, and receive notifications whenever motion is detected, with Canary’s 1080p HD camera, 147-degree wide-angle lens, automatic night vision, and high-quality audio.</p>
      </section>
      <section class="infos-tabs__block__item" data-aos="fade-up">
        <h2 class="infos-tabs__block__item__title">Superior Value</h2>
        <p class="infos-tabs__block__item__description">There are no installation or monthly fees and you don't need additional sensors, base stations, or cameras.</p>
      </section>
      <section class="infos-tabs__block__item">
        <h2 class="infos-tabs__block__item__title">Advanced design</h2>
        <p class="infos-tabs__block__item__description">Canary is elegant enough to enhance almost any room, and understated enough to go unnoticed by intruders</p>
      </section>
      <section class="infos-tabs__block__item" data-aos="fade-up">
        <h2 class="infos-tabs__block__item__title">More Than a Camera</h2>
        <p class="infos-tabs__block__item__description">Protect your home with Canary’s 90+ dB siren, motion-activated recording, auto-arm/disarm, and exclusive air quality, temperature, and humidity monitoring.</p>
      </section>
    </div>
    <div class="infos-tabs__block is-hidden" data-item="3">
      <section class="infos-tabs__block__item" data-aos="fade-up">
        <h2 class="infos-tabs__block__item__title">More Than a Camera</h2>
        <p class="infos-tabs__block__item__description">Protect your home with Canary’s 90+ dB siren, motion-activated recording, auto-arm/disarm, and exclusive air quality, temperature, and humidity monitoring.</p>
      </section>
      <section class="infos-tabs__block__item" data-aos="fade-up">
        <h2 class="infos-tabs__block__item__title">Advanced design</h2>
        <p class="infos-tabs__block__item__description">Canary is elegant enough to enhance almost any room, and understated enough to go unnoticed by intruders</p>
      </section>
    </div>
  </div>
</div>