<section class="integration">
    <div class="integration__container grid-container">
        <h2 class="integration__tag tag-1" data-aos="fade-up">Simple integration with world’s most popular file managers:</h2>
        <div class="integration__icons" data-aos="fade-up">
            <div class="integration__icon integration__icon--google-drive">
                {{>google-drive}}
            </div>
            <div class="integration__icon integration__icon--slack">
                {{>slack}}
            </div>
            <div class="integration__icon integration__icon--dropbox">
                {{>dropbox}}
            </div>
        </div>
        <p class="integration__subheading subheading" data-aos="fade-up">With all these new apps on your TV, what’s the best way to find something to watch? Just ask Her. With the Her Remote, you tell your TV exactly what you want to watch.</p>
    </div>
</section>