<div class="hamburger is-hidden">
    <div class="hamburger__header">
        <a class="hamburger__header__logo" href="#">
            {{>logo}}
        </a>
        <a class="hamburger__header__close hamburger-close" href="#">
            {{>cross}}
        </a>
    </div>
    <div class="hamburger__menu">
        <ul class="hamburger__menu__list">
            <li class="hamburger__menu__list__item"><a class="hamburger__menu__list__item__link" href="#">About</a></li>
            <li class="hamburger__menu__list__item"><a class="hamburger__menu__list__item__link" href="#">Tech Specs</a></li>
            <li class="hamburger__menu__list__item"><a class="hamburger__menu__list__item__link" href="#">Pricing</a></li>
        </ul>
        <div class="hamburger__auth__alter">
            <a class="hamburger__auth__alter__login" href="#">Login</a>
            <a class="hamburger__auth__alter__singup" href="#">Sign up</a>
        </div>
    </div>
</div>