<div class="hamburger is-hidden">
    <div class="hamburger__header">
        <a class="hamburger__header__logo" href="#">
            {{>hamburger-logo}}
        </a>
        <a class="hamburger__header__close hamburger-close" href="#">
            {{>cross}}
        </a>
    </div>
    <div class="hamburger__menu">
        <ul class="hamburger__menu__list">
            <li class="hamburger__menu__list__item"><a class="hamburger__menu__list__item__link" href="#">Showcase</a></li>
            <li class="hamburger__menu__list__item"><a class="hamburger__menu__list__item__link" href="#">Develop</a></li>
            <li class="hamburger__menu__list__item"><a class="hamburger__menu__list__item__link" href="#">Tutorials</a></li>
            <li class="hamburger__menu__list__item"><a class="hamburger__menu__list__item__link" href="#">Get Involved</a></li>
            <li class="hamburger__menu__list__item"><a class="hamburger__menu__list__item__link" href="#">Docs</a></li>
        </ul>
    </div>
    <div class="hamburger__footer">
        <p class="text-center">Bastoche & Co || 8, rue de l’Arlésienne – 13310 Saint-Martin-de-Crau</p>
    </div>
</div>