<nav class="navbar" data-aos="fade-up">
    <div class="navbar__left">
        <a class="navbar__logo" href="/">
            {{>logo}}
        </a>
    </div>
    <div class="navbar__center">
        <ul class="navbar__menu hide-sm">
            <li class="navbar__menu__item">
                <a class="navbar__menu__item__link" href="#">Features</a>
            </li>
            <li class="navbar__menu__item">
                <a class="navbar__menu__item__link" href="#">Princing</a>
            </li>
            <li class="navbar__menu__item">
                <a class="navbar__menu__item__link" href="#">Learn more</a>
            </li>
            <li class="navbar__menu__item show-for-large">
                <a class="navbar__menu__item__link" href="#">Contact sales</a>
            </li>
        </ul>
    </div>
    <div class="navbar__right">
        <a class="menu__hamburger hamburger-button show-sm" href="#">
            {{>hamburger}}
        </a>
    </div>
</nav>