<nav class="navbar navbar-dark" data-aos="fade-up">
    <div class="navbar__left">
        <a class="navbar__logo" href="/">
            {{>logo}}
        </a>
    </div>
    <div class="navbar__center">
        <ul class="navbar__menu hide-sm">
            <li class="navbar__menu__item">
                <a class="navbar__menu__item__link" href="#">Showcase</a>
            </li>
            <li class="navbar__menu__item">
                <a class="navbar__menu__item__link" href="#">Develop</a>
            </li>
            <li class="navbar__menu__item">
                <a class="navbar__menu__item__link" href="#">Tutorials</a>
            </li>
            <li class="navbar__menu__item">
                <a class="navbar__menu__item__link" href="#">Get Involved</a>
            </li>
            <li class="navbar__menu__item">
                <a class="navbar__menu__item__link" href="#">Docs</a>
            </li>
        </ul>
    </div>
    <div class="navbar__right hide-md">
        <div class="navbar__action">
            <a class="navbar__action__button button button--transparent-white" href="#">Get Started</a>
        </div>
    </div>
    <a class="menu__hamburger hamburger-button show-sm" href="#">
        {{>hamburger}}
    </a>
</nav>