<nav class="navbar border-bottom" data-aos="fade-up">
    <div class="navbar__left hide-sm">
        <ul class="navbar__menu">
            <li class="navbar__menu__item">
                <a class="navbar__menu__item__link" href="#">Shop</a>
            </li>
            <li class="navbar__menu__item show-for-large">
                <a class="navbar__menu__item__link" href="#">Service</a>
            </li>
            <li class="navbar__menu__item">
                <a class="navbar__menu__item__link" href="#">Blog</a>
            </li>
        </ul>
    </div>
    <div class="navbar__center">
        <a class="navbar__logo" href="/">
            {{>logo}}
        </a>
    </div>
    <div class="navbar__right">
        <div class="navbar__auth hide-sm">
            <a class="navbar__auth__login" href="#">Login</a>
            <a class="navbar__auth__login" href="#">Sign Up</a>
            <a class="navbar__auth__login" href="#">
                Cart<span class="navbar__auth__login__counter">1</span>
            </a>
        </div>
        <a class="menu__hamburger hamburger-button show-sm" href="#">
            {{>hamburger}}
        </a>
    </div>
</nav>