<nav class="navbar navbar-dark" data-aos="fade-up">
    <div class="navbar__left hide-sm">
        <ul class="navbar__menu">
            <li class="navbar__menu__item">
                <a class="navbar__menu__item__link" href="#">About</a>
            </li>
            <li class="navbar__menu__item">
                <a class="navbar__menu__item__link" href="#">Tech Specs</a>
            </li>
            <li class="navbar__menu__item">
                <a class="navbar__menu__item__link" href="#">Pricing</a>
            </li>
        </ul>
    </div>
    <div class="navbar__center">
        <a class="navbar__logo" href="/">
            {{>logo}}
        </a>
    </div>
    <div class="navbar__right">
        <div class="navbar__auth hide-sm">
            <a class="navbar__auth__login" href="#">Login</a>
            <a class="navbar__auth__button button button--transparent-white" href="#">Sign Up</a>
        </div>
        <a class="menu__hamburger hamburger-button show-sm" href="#">
            {{>hamburger}}
        </a>
    </div>
</nav>