<section class="newsletter" data-aos="fade-up">
  <div class="newsletter__container container">
    <h2 class="newsletter__title">Join our newsletter!</h2>
    <form class="newsletter__form">
      <div class="newsletter__form__field">
        <input class="newsletter__form__field__input" type="email" placeholder="E-mail address" required="required"/>
        <div class="newsletter__form__field__icon"></div>
      </div>
      <div class="newsletter__form__field">
        <button class="newsletter__form__field__button button large secondary" type="submit">Join now</button>
      </div>
    </form>
  </div>
</section>