<section class="carousel">
  <div class="carousel__container container" data-aos="fade-up">
    <p class="carousel__tag tag-1">The story behind</p>
    <h2 class="h1 carousel__title">Years of Experience</h2>
    <p class="carousel__subheading subheading">We have been designing and making headphones for a very long time. And now we are bringing everything we have learned over the past 25 years to premium sound.</p>
    <div class="carousel__slider owl-carousel">
      <div class="carousel__slide"><img class="carousel__slide__image" src="assets/img/ecommerce2/image.jpg" alt=""/></div>
      <div class="carousel__slide"><img class="carousel__slide__image" src="assets/img/ecommerce2/image.jpg" alt=""/></div>
      <div class="carousel__slide"><img class="carousel__slide__image" src="assets/img/ecommerce2/image.jpg" alt=""/></div>
      <div class="carousel__slide"><img class="carousel__slide__image" src="assets/img/ecommerce2/image.jpg" alt=""/></div>
      <div class="carousel__slide"><img class="carousel__slide__image" src="assets/img/ecommerce2/image.jpg" alt=""/></div>
    </div><a class="carousel__button button large secondary" href="#">Our process</a>
  </div>
</section>