<header class="owl-header">
  {{>owl-navbar-logo-burger}}
  <div class="owl-header__middle">
    <div class="owl-header__slider owl-carousel">
      <div class="owl-header__slider__item" style="background-image: url(assets/img/studio/studio-slide-1.jpg);">
        <div class="owl-header__slider__item__container container">
          <div class="owl-header__slider__item__tag tag-2">Growing old</div>
          <h2 class="owl-header__slider__item__title">
            The Store Where Generous

            Matter More
          </h2>
          <p class="owl-header__slider__item__text">The store where generous deeds buys</p>
          <a class="owl-header__slider__item__link" href="#">View full project
            {{>icon-arrow}}
          </a>
        </div>
      </div>
      <div class="owl-header__slider__item" style="background-image: url(assets/img/studio/studio-slide-2.jpg);">
        <div class="owl-header__slider__item__container container">
          <div class="owl-header__slider__item__tag tag-2">Generous store</div>
          <h2 class="owl-header__slider__item__title">A Global Website For Cocio Lovers</h2>
          <p class="owl-header__slider__item__text">A global website for milk brand</p>
          <a class="owl-header__slider__item__link" href="#">View full project
            {{>icon-arrow}}
          </a>
        </div>
      </div>
      <div class="owl-header__slider__item" style="background-image: url(assets/img/studio/studio-slide-3.jpg);">
        <div class="owl-header__slider__item__container container">
          <div class="owl-header__slider__item__tag tag-2">Burberry</div>
          <h2 class="owl-header__slider__item__title">The Smart and Simple Way to Invest in Future</h2>
          <p class="owl-header__slider__item__text">The store where generous deeds buys</p>
          <a class="owl-header__slider__item__link" href="#">View full project
            {{>icon-arrow}}
          </a>
        </div>
      </div>
      <div class="owl-header__slider__item" style="background-image: url(assets/img/studio/studio-slide-4.jpg);">
        <div class="owl-header__slider__item__container container">
          <div class="owl-header__slider__item__tag tag-2">Growing old</div>
          <h2 class="owl-header__slider__item__title">The Store Where Generous<br/>Matter More</h2>
          <p class="owl-header__slider__item__text">The store where generous deeds buys</p>
          <a class="owl-header__slider__item__link" href="#">View full project
            {{>icon-arrow}}
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="owl-header__hamburger is-hidden">
    <div class="owl-header__hamburger__container container">
      <div class="owl-header__hamburger__menu">
        <ul class="owl-header__hamburger__list">
          <li class="owl-header__hamburger__list__item"><a class="owl-header__hamburger__list__item__link" href="#">About</a></li>
          <li class="owl-header__hamburger__list__item"><a class="owl-header__hamburger__list__item__link" href="#">Work</a></li>
          <li class="owl-header__hamburger__list__item"><a class="owl-header__hamburger__list__item__link" href="#">Contact</a></li>
        </ul>
      </div>
      <div class="owl-header__hamburger__title">
        Hi! Welcome to Module02, the digital stoop of Eddie McGoodwin.
        Creative Director at GSST. Editor of B Magazine. Citizen of Perm.
      </div>
      <div class="owl-header__hamburger__social">
        <div class="owl-header__hamburger__social__title">Follow us:</div>
        <div class="owl-header__hamburger__social__block">
          <a class="owl-header__hamburger__social__block__item" href="#">
            <i class="fab fa-facebook fa-2x"></i>
          </a>
          <a class="owl-header__hamburger__social__block__item" href="#">
            <i class="fab fa-twitter fa-2x"></i>
          </a>
          <a class="owl-header__hamburger__social__block__item" href="#">
            <i class="fab fa-instagram fa-2x"></i>
          </a>
        </div>
      </div>
      <a class="owl-header__hamburger__header__close hamburger-close" href="#">
        {{>icon-cross}}
      </a>
    </div>
  </div>
</header>