<section class="portfolio-small-cards js-block">
  <div class="portfolio-small-cards__container container">
    <h2 class="h1 portfolio-small-cards__title" data-aos="fade-up">Client Work</h2>
    <p class="portfolio-small-cards__subheading subheading" data-aos="fade-up">We design and develop software for funded startups and established companies. Here are just some examples of our work</p>
    <div class="portfolio-small-cards__row row small-up-1 medium-up-2 large-up-3">
      <section class="portfolio-small-cards__column column">
          <a class="portfolio-small-cards__item" href="#" title="Ad Astra Per Aspera" data-aos="fade-up">
              <div class="portfolio-small-cards__item__image">
                  <img class="portfolio-small-cards__item__image__img" src="assets/img/corporate/photo-1.jpg" alt="Gallery Image"/>
                  <div class="portfolio-small-cards__item__share">
                    {{>icon-share}}
                  </div>
              </div>
              <div class="portfolio-small-cards__item__content">
                  <h3 class="portfolio-small-cards__item__title">Ad Astra Per Aspera</h3>
                  <p class="portfolio-small-cards__item__text">In the past years, there has been a growing interest in science</p>
              </div>
          </a>
      </section>
      <section class="portfolio-small-cards__column column">
          <a class="portfolio-small-cards__item" href="#" title="Migration Data" data-aos="fade-up">
              <div class="portfolio-small-cards__item__image">
                  <img class="portfolio-small-cards__item__image__img" src="assets/img/corporate/photo-2.jpg" alt="Gallery Image"/>
                  <div class="portfolio-small-cards__item__share">
                      {{>icon-share}}
                  </div>
              </div>
              <div class="portfolio-small-cards__item__content">
                  <h3 class="portfolio-small-cards__item__title">Migration Data</h3>
                  <p class="portfolio-small-cards__item__text">Delve is a production company based in Oregon working with tech juggernauts</p>
              </div>
          </a>
      </section>
      <section class="portfolio-small-cards__column column">
          <a class="portfolio-small-cards__item" href="#" title="Chicago's Mobility" data-aos="fade-up">
              <div class="portfolio-small-cards__item__image">
                  <img class="portfolio-small-cards__item__image__img" src="assets/img/corporate/photo-3.jpg" alt="Gallery Image"/>
                  <div class="portfolio-small-cards__item__share">
                    {{>icon-share}}
                  </div>
              </div>
              <div class="portfolio-small-cards__item__content">
                  <h3 class="portfolio-small-cards__item__title">Chicago's Mobility</h3>
                  <p class="portfolio-small-cards__item__text">Chicago is an open source data analytics platform built for enterprise</p>
              </div>
          </a>
      </section>
      <section class="portfolio-small-cards__column column">
          <a class="portfolio-small-cards__item" href="#" title="Creative Animals" data-aos="fade-up">
              <div class="portfolio-small-cards__item__image">
                  <img class="portfolio-small-cards__item__image__img" src="assets/img/corporate/photo-4.jpg" alt="Gallery Image"/>
                  <div class="portfolio-small-cards__item__share">
                    {{>icon-share}}
                  </div>
              </div>
              <div class="portfolio-small-cards__item__content">
                  <h3 class="portfolio-small-cards__item__title">Creative Animals</h3>
                  <p class="portfolio-small-cards__item__text">Tidepool is building a platform and suite of apps to make type 1 diabetes</p>
              </div>
          </a>
      </section>
      <section class="portfolio-small-cards__column column">
          <a class="portfolio-small-cards__item" href="#" title="Talkviz" data-aos="fade-up">
              <div class="portfolio-small-cards__item__image">
                  <img class="portfolio-small-cards__item__image__img" src="assets/img/corporate/photo-5.jpg" alt="Gallery Image"/>
                  <div class="portfolio-small-cards__item__share">
                    {{>icon-share}}
                  </div>
              </div>
              <div class="portfolio-small-cards__item__content">
                  <h3 class="portfolio-small-cards__item__title">Talkviz</h3>
                  <p class="portfolio-small-cards__item__text">Talkviz is putting critical information into the hands of the people</p>
              </div>
          </a>
      </section>
      <section class="portfolio-small-cards__column column">
          <a class="portfolio-small-cards__item" href="#" title="Rooster" data-aos="fade-up">
              <div class="portfolio-small-cards__item__image">
                  <img class="portfolio-small-cards__item__image__img" src="assets/img/corporate/photo-6.jpg" alt="Gallery Image"/>
                  <div class="portfolio-small-cards__item__share">
                    {{>icon-share}}
                  </div>
              </div>
              <div class="portfolio-small-cards__item__content">
                  <h3 class="portfolio-small-cards__item__title">Rooster</h3>
                  <p class="portfolio-small-cards__item__text">The company was formed after a merger between Startup Weekend</p>
              </div>
          </a>
      </section>
    </div>
  </div>
</section>