<section class="portfolio-tabs">
    <div class="portfolio-tabs__container grid-container">

        <header>
          <p class="portfolio-tabs__tag tag-1" data-aos="fade-up">Our services</p>
          <h2 class="portfolio-tabs__quote big-quote" data-aos="fade-up">We help companies design products for mobile and beyond</h2>
        </header>

        <div class="portfolio-tabs__tabs" data-aos="fade-up">
          <div class="portfolio-tabs__tabs__inner">
              <a class="portfolio-tabs__tabs__button is-active" href="#" data-item="1">All</a>
              <a class="portfolio-tabs__tabs__button" href="#" data-item="2">Interface Design</a>
              <a class="portfolio-tabs__tabs__button" href="#" data-item="3">Mobile Apps</a>
              <a class="portfolio-tabs__tabs__button" href="#" data-item="4">Front-end</a>
          </div>
        </div>

        <div class="portfolio-tabs__projects row" data-item="1">
            <section class="portfolio-tabs__projects__column column small-6">
                <a class="portfolio-tabs__projects__item" href="#" data-aos="fade-up">
                    <div class="portfolio-tabs__projects__item__image" style="background-image: url(assets/img/project-1.jpg);"></div>
                    <div class="portfolio-tabs__projects__item__content">
                        <p class="portfolio-tabs__projects__item__tag tag-2">Burberry</p>
                        <h3 class="portfolio-tabs__projects__item__title h2">A Global Website For Cocio Lovers</h3>
                        <p class="portfolio-tabs__projects__item__text">A global website for the biggest chocolate milk brand in the nordics</p>
                    </div>
                </a>
            </section>
            <section class="portfolio-tabs__projects__column column small-6">
                <a class="portfolio-tabs__projects__item" href="#" data-aos="fade-up">
                    <div class="portfolio-tabs__projects__item__image" style="background-image: url(assets/img/project-2.jpg);"></div>
                    <div class="portfolio-tabs__projects__item__content">
                        <p class="portfolio-tabs__projects__item__tag tag-2">Generous store</p>
                        <h3 class="portfolio-tabs__projects__item__title h2">The Store Where Generous Matter More</h3>
                        <p class="portfolio-tabs__projects__item__text">The store where generous deeds buys you chocolate</p>
                    </div>
                </a>
            </section>
            <section class="portfolio-tabs__projects__column column small-12">
                <a class="portfolio-tabs__projects__item large" href="#" data-aos="fade-up">
                    <div class="portfolio-tabs__projects__item__image" style="background-image: url(assets/img/project-3.jpg);"></div>
                    <div class="portfolio-tabs__projects__item__content">
                        <p class="portfolio-tabs__projects__item__tag tag-2">Generous store</p>
                        <h3 class="portfolio-tabs__projects__item__title h1">Guess the Temperature App</h3>
                        <p class="portfolio-tabs__projects__item__text subheading">We took on the assignment with the aim to elevate it from a simple quiz into something that inspired you to take</p>
                        <div class="portfolio-tabs__projects__item__rating">
                            {{>icon-star}}
                            <p class="portfolio-tabs__projects__item__rating__text">Design awards winner</p>
                        </div>
                        <div class="portfolio-tabs__projects__item__go">
                            {{>icon-arrow}}
                        </div>
                    </div>
                </a>
            </section>
        </div>

        <div class="portfolio-tabs__projects row is-hidden" data-item="2">
            <section class="portfolio-tabs__projects__column column small-12">
                <a class="portfolio-tabs__projects__item large" href="#" data-aos="fade-up">
                    <div class="portfolio-tabs__projects__item__image" style="background-image: url(assets/img/project-3.jpg);"></div>
                    <div class="portfolio-tabs__projects__item__content">
                        <p class="portfolio-tabs__projects__item__tag tag-2">Generous store</p>
                        <h3 class="portfolio-tabs__projects__item__title h1">Guess the Temperature App</h3>
                        <p class="portfolio-tabs__projects__item__text subheading">We took on the assignment with the aim to elevate it from a simple quiz into something that inspired you to take</p>
                        <div class="portfolio-tabs__projects__item__rating">
                            {{>icon-star}}
                            <p class="portfolio-tabs__projects__item__rating__text">Design awards winner</p>
                        </div>
                        <div class="portfolio-tabs__projects__item__go">
                            {{>icon-arrow}}
                        </div>
                    </div>
                </a>
            </section>
            <section class="portfolio-tabs__projects__column column small-6">
                <a class="portfolio-tabs__projects__item" href="#" data-aos="fade-up">
                    <div class="portfolio-tabs__projects__item__image" style="background-image: url(assets/img/project-1.jpg);"></div>
                    <div class="portfolio-tabs__projects__item__content">
                        <p class="portfolio-tabs__projects__item__tag tag-2">Burberry</p>
                        <h3 class="portfolio-tabs__projects__item__title h2">A Global Website For Cocio Lovers</h3>
                        <p class="portfolio-tabs__projects__item__text">A global website for the biggest chocolate milk brand in the nordics</p>
                    </div>
                </a>
            </section>
            <section class="portfolio-tabs__projects__column column small-6">
                <a class="portfolio-tabs__projects__item" href="#" data-aos="fade-up">
                    <div class="portfolio-tabs__projects__item__image" style="background-image: url(assets/img/project-2.jpg);"></div>
                    <div class="portfolio-tabs__projects__item__content">
                        <p class="portfolio-tabs__projects__item__tag tag-2">Generous store</p>
                        <h3 class="portfolio-tabs__projects__item__title h2">The Store Where Generous Matter More</h3>
                        <p class="portfolio-tabs__projects__item__text">The store where generous deeds buys you chocolate</p>
                    </div>
                </a>
            </section>
        </div>

        <div class="portfolio-tabs__projects row is-hidden" data-item="3">
            <section class="portfolio-tabs__projects__column column small-6">
                <a class="portfolio-tabs__projects__item" href="#" data-aos="fade-up">
                    <div class="portfolio-tabs__projects__item__image" style="background-image: url(assets/img/project-1.jpg);"></div>
                    <div class="portfolio-tabs__projects__item__content">
                        <p class="portfolio-tabs__projects__item__tag tag-2">Burberry</p>
                        <h3 class="portfolio-tabs__projects__item__title h2">A Global Website For Cocio Lovers</h3>
                        <p class="portfolio-tabs__projects__item__text">A global website for the biggest chocolate milk brand in the nordics</p>
                    </div>
                </a>
            </section>
            <section class="portfolio-tabs__projects__column column small-6">
                <a class="portfolio-tabs__projects__item" href="#" data-aos="fade-up">
                    <div class="portfolio-tabs__projects__item__image" style="background-image: url(assets/img/project-2.jpg);"></div>
                    <div class="portfolio-tabs__projects__item__content">
                        <p class="portfolio-tabs__projects__item__tag tag-2">Generous store</p>
                        <h3 class="portfolio-tabs__projects__item__title h2">The Store Where Generous Matter More</h3>
                        <p class="portfolio-tabs__projects__item__text">The store where generous deeds buys you chocolate</p>
                    </div>
                </a>
            </section>
            <section class="portfolio-tabs__projects__column column small-12">
                <a class="portfolio-tabs__projects__item large" href="#" data-aos="fade-up">
                    <div class="portfolio-tabs__projects__item__image" style="background-image: url(assets/img/project-3.jpg);"></div>
                    <div class="portfolio-tabs__projects__item__content">
                        <p class="portfolio-tabs__projects__item__tag tag-2">Generous store</p>
                        <h3 class="portfolio-tabs__projects__item__title h1">Guess the Temperature App</h3>
                        <p class="portfolio-tabs__projects__item__text subheading">We took on the assignment with the aim to elevate it from a simple quiz into something that inspired you to take</p>
                        <div class="portfolio-tabs__projects__item__rating">
                            {{>icon-star}}
                            <p class="portfolio-tabs__projects__item__rating__text">Design awards winner</p>
                        </div>
                        <div class="portfolio-tabs__projects__item__go">
                            {{>icon-arrow}}
                        </div>
                    </div>
                </a>
            </section>
        </div>

        <div class="portfolio-tabs__projects row is-hidden" data-item="4">
            <section class="portfolio-tabs__projects__column column small-12">
                <a class="portfolio-tabs__projects__item large" href="#" data-aos="fade-up">
                    <div class="portfolio-tabs__projects__item__image" style="background-image: url(assets/img/project-3.jpg);"></div>
                    <div class="portfolio-tabs__projects__item__content">
                        <p class="portfolio-tabs__projects__item__tag tag-2">Generous store</p>
                        <h3 class="portfolio-tabs__projects__item__title h1">Guess the Temperature App</h3>
                        <p class="portfolio-tabs__projects__item__text subheading">We took on the assignment with the aim to elevate it from a simple quiz into something that inspired you to take</p>
                        <div class="portfolio-tabs__projects__item__rating">
                            {{>icon-star}}
                            <p class="portfolio-tabs__projects__item__rating__text">Design awards winner</p>
                        </div>
                        <div class="portfolio-tabs__projects__item__go">
                            {{>icon-arrow}}
                        </div>
                    </div>
                </a>
            </section>
            <section class="portfolio-tabs__projects__column column small-6">
                <a class="portfolio-tabs__projects__item" href="#" data-aos="fade-up">
                    <div class="portfolio-tabs__projects__item__image" style="background-image: url(assets/img/project-2.jpg);"></div>
                    <div class="portfolio-tabs__projects__item__content">
                        <p class="portfolio-tabs__projects__item__tag tag-2">Generous store</p>
                        <h3 class="portfolio-tabs__projects__item__title h2">The Store Where Generous Matter More</h3>
                        <p class="portfolio-tabs__projects__item__text">The store where generous deeds buys you chocolate</p>
                    </div>
                </a>
            </section>
            <section class="portfolio-tabs__projects__column column small-6">
                <a class="portfolio-tabs__projects__item" href="#" data-aos="fade-up">
                    <div class="portfolio-tabs__projects__item__image" style="background-image: url(assets/img/project-1.jpg);"></div>
                    <div class="portfolio-tabs__projects__item__content">
                        <p class="portfolio-tabs__projects__item__tag tag-2">Burberry</p>
                        <h3 class="portfolio-tabs__projects__item__title h2">A Global Website For Cocio Lovers</h3>
                        <p class="portfolio-tabs__projects__item__text">A global website for the biggest chocolate milk brand in the nordics</p>
                    </div>
                </a>
            </section>
        </div>

        <a class="portfolio-tabs__all" href="#" data-aos="fade-up">
          {{>icon-grid}}
          <span class="portfolio-tabs__all__text">All projects</span>
        </a>
    </div>
</section>