<section class="pricing-2">
  <div class="pricing-2__container container">
    <div class="pricing-2__content">
      <h2 class="pricing-2__content__title" data-aos="fade-up">Simple Pricing</h2>
      <p class="pricing-2__content__subheading subheading" data-aos="fade-up">It seems from the moment you begin to take your love of astronomy seriously, the thing that is on your mind is what kind.</p>
      <div class="pricing-2__content__block" data-aos="fade-up">
        <section class="pricing-2__content__block__item">
          <h3 class="pricing-2__content__block__item__name">BASIC</h3>
          <p class="pricing-2__content__block__item__description">For a taste our product</p>
          <p class="pricing-2__content__block__item__price h1">$</p>
          <p class="pricing-2__content__block__item__pricefee">always free</p>
          <p class="pricing-2__content__block__item__pricedescription">How to boost the design and developing process with help of four paws.</p>
          <p class="pricing-2__content__block__item__text item-text">2 Gb of space</p>
          <p class="pricing-2__content__block__item__text item-text">30 days of file recovery</p>
          <p class="pricing-2__content__block__item__text item-text">MS Office 365 integration</p>
          <p class="pricing-2__content__block__item__text item-text is-muted">Unlimited third-party integrations</p>
          <p class="pricing-2__content__block__item__text item-text is-muted">Remote wipe</p>
          <a class="pricing-2__content__block__item__button" href="#">Get Started</a>
        </section>
        <section class="pricing-2__content__block__item is-active">
          <h3 class="pricing-2__content__block__item__name">PROFESSIONAL</h3>
          <p class="pricing-2__content__block__item__description">Make individual product</p>
          <p class="pricing-2__content__block__item__price h1">$8.99</p>
          <p class="pricing-2__content__block__item__pricefee">per month</p>
          <p class="pricing-2__content__block__item__pricedescription">Computer War Games How To Estimate Decisions Made By C C Trainees</p>
          <p class="pricing-2__content__block__item__text item-text">8 Gb of space</p>
          <p class="pricing-2__content__block__item__text item-text">60 days of file recovery</p>
          <p class="pricing-2__content__block__item__text item-text">MS Office 365 integration</p>
          <p class="pricing-2__content__block__item__text item-text">Unlimited third-party integrations</p>
          <p class="pricing-2__content__block__item__text item-text is-muted">Remote wipe</p>
          <a class="pricing-2__content__block__item__button" href="#">Get Started</a>
        </section>
        <section class="pricing-2__content__block__item">
          <h3 class="pricing-2__content__block__item__name">BUSINESS</h3>
          <p class="pricing-2__content__block__item__description">For big companies</p>
          <p class="pricing-2__content__block__item__price h1">$18.99</p>
          <p class="pricing-2__content__block__item__pricefee">per month</p>
          <p class="pricing-2__content__block__item__pricedescription">Direct Mail Advertising How I Made 47 325 In 30 Days By Mailing</p>
          <p class="pricing-2__content__block__item__text item-text">30 Gb of space</p>
          <p class="pricing-2__content__block__item__text item-text">90 days of file recovery</p>
          <p class="pricing-2__content__block__item__text item-text">MS Office 365 integration</p>
          <p class="pricing-2__content__block__item__text item-text">Unlimited third-party integrations</p>
          <p class="pricing-2__content__block__item__text item-text">Remote wipe</p>
          <a class="pricing-2__content__block__item__button" href="#">Get Started</a>
        </section>
      </div>
    </div>
  </div>
</section>