<section class="pricing">
  <div class="pricing__container container">
    <div class="pricing__content">
      <h2 class="h1 pricing__content__title" data-aos="fade-up">Choose Your License</h2>
      <div class="pricing__content__block">
        <section class="pricing__content__block__item" data-aos="fade-up">
          <div class="pricing__content__block__item__top">
            <h3 class="h2 pricing__content__block__item__top__title">Personal</h3>
            <p class="pricing__content__block__item__top__description">Just started using awesome Module. Great way to boost the hard designing or prototyping process.</p>
          </div>
          <div class="pricing__content__block__item__info is-hidden">
            {{>info-short}}
          </div>
          <div class="pricing__content__block__item__bottom">
            <div class="pricing__content__block__item__bottom__price">
              <div class="pricing__content__block__item__bottom__price__number">
                <div class="pricing__content__block__item__bottom__price__number__sign price-free">$</div>
                <div class="pricing__content__block__item__bottom__price__number__col h1 price-free">Free</div>
              </div>
              <p class="pricing__content__block__item__bottom__price__text">Per month billed annualy or $250 from month to month</p>
            </div>
            <button class="pricing__content__block__item__bottom__button button large secondary">Get it</button>
          </div>
        </section>
        <section class="pricing__content__block__item" data-aos="fade-up">
          <div class="pricing__content__block__item__top">
            <h3 class="h2 pricing__content__block__item__top__title">Agency</h3>
            <p class="pricing__content__block__item__top__description">Also a perfect tool for creative studios and freelancers”</p>
          </div>
          <div class="pricing__content__block__item__info is-hidden">
            {{>info-short}}
          </div>
          <div class="pricing__content__block__item__bottom">
            <div class="pricing__content__block__item__bottom__price">
              <div class="pricing__content__block__item__bottom__price__number">
                <div class="pricing__content__block__item__bottom__price__number__sign">$</div>
                <div class="pricing__content__block__item__bottom__price__number__col h1">123</div>
              </div>
              <p class="pricing__content__block__item__bottom__price__text">Per month billed annualy or $250 from month to month</p>
            </div>
            <button class="pricing__content__block__item__bottom__button button large secondary">Buy now</button>
          </div>
        </section>
        <section class="pricing__content__block__item" data-aos="fade-up">
          <div class="pricing__content__block__item__top">
            <h3 class="h2 pricing__content__block__item__top__title">Unlimited</h3>
            <p class="pricing__content__block__item__top__description">Living in today’s metropolitan world of cellular phones, mobile computers</p>
          </div>
          <div class="pricing__content__block__item__info is-hidden">
            {{>info-short}}
          </div>
          <div class="pricing__content__block__item__bottom">
            <div class="pricing__content__block__item__bottom__price">
              <div class="pricing__content__block__item__bottom__price__number">
                <div class="pricing__content__block__item__bottom__price__number__sign">$</div>
                <div class="pricing__content__block__item__bottom__price__number__col h1">232</div>
              </div>
              <p class="pricing__content__block__item__bottom__price__text">Per month billed annualy or $250 from month to month</p>
            </div>
            <button class="pricing__content__block__item__bottom__button button large secondary">Buy now</button>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>