<section class="promo-tablet">
  <div class="promo-tablet__content">
    <div class="promo-tablet__content__left" data-aos="fade-up">
      <h2 class="h1 promo-tablet__content__left__title">What’s Inside?</h2>
      <p class="promo-tablet__content__left__subheading subheading">8 Popular Content Categories: Blog, Media, Ecommerce, Charts, Forms, Footers, Headers and Base Elements</p>
      <section class="promo-tablet__content__left__card">
        <h3 class="promo-tablet__content__left__card__title">VIDEOS FOR SITE</h3>
        <p class="promo-tablet__content__left__card__text">Listen, do you mind keeping an eye on Carl for a minute? No. Shane and I are gonna…</p>
        <p class="promo-tablet__content__left__card__users__ago">2 min ago</p>
        <div class="promo-tablet__content__left__card__users__valid">
          {{>icon-check}}
        </div>
      </section>
    </div>
    <div class="promo-tablet__content__right" data-aos="fade-up">
      <div class="promo-tablet__content__right__image">
        <img class="promo-tablet__content__right__image__item" src="assets/img/module-image.png" alt=""/>
      </div>
    </div>
  </div>
</section>