<section class="subscribe grid-container">
  <h2 class="h1 subscribe__title margin-bottom-1" data-aos="fade-up">Become One of Us</h2>
  <p class="subheading paragraph text-center margin-bottom-3">Module 01 is big, stylish and handy UI Kit, full of many useful elements</p>
  <form class="subscribe__form" data-aos="fade-up">
    <div class="subscribe__form__textbox textbox-secondary">
      <div class="subscribe__form__textbox__icon">
        {{>icon-paper-plane}}
      </div>
      <input class="textbox__input" type="email" placeholder="E-mail address" required="required"/>
    </div>
    <button class="subscribe__form__button button secondary" type="submit">Let’s chat</button>
  </form>
</section>