<section class="team-thumbnails">
    <div class="team-thumbnails__container container">
        <header>
            <h2 class="team-thumbnails__title" data-aos="fade-up">We believe that the next million virtual reality experiences will be on smartphones</h2>
        </header>
        <div class="team-thumbnails__list row">
            <section class="column">
                <a class="team-thumbnails__list__item" href="#" data-aos="fade-up">
                    <div class="team-thumbnails__list__item__photo">
                        <img class="team-thumbnails__list__item__photo__image" src="assets/img/team-photo-1.png"/>
                    </div>
                    <h3 class="team-thumbnails__list__item__name">Alexey Rybin</h3>
                    <p class="team-thumbnails__list__item__post">Creative Direction</p>
                </a>
            </section>
            <section class="column">
                <a class="team-thumbnails__list__item" href="#" data-aos="fade-up">
                    <div class="team-thumbnails__list__item__photo">
                        <img class="team-thumbnails__list__item__photo__image" src="assets/img/team-photo-2.png"/>
                    </div>
                    <h3 class="team-thumbnails__list__item__name">Yuliya Petrova</h3>
                    <p class="team-thumbnails__list__item__post">Concept & Service Design</p>
                </a>
            </section>
            <section class="column">
                <a class="team-thumbnails__list__item" href="#" data-aos="fade-up">
                    <div class="team-thumbnails__list__item__photo">
                        <img class="team-thumbnails__list__item__photo__image" src="assets/img/team-photo-3.png"/>
                    </div>
                    <h3 class="team-thumbnails__list__item__name">Yuri Yasyuk</h3>
                    <p class="team-thumbnails__list__item__post">User Experience Design</p>
                </a>
            </section>
            <section class="column">
                <a class="team-thumbnails__list__item" href="#" data-aos="fade-up">
                    <div class="team-thumbnails__list__item__photo">
                        <img class="team-thumbnails__list__item__photo__image" src="assets/img/team-photo-4.png"/>
                    </div>
                    <h3 class="team-thumbnails__list__item__name">Artem Tarasov</h3>
                    <p class="team-thumbnails__list__item__post">Creative Direction & Design</p>
                </a>
            </section>
            <section class="column">
                <a class="team-thumbnails__list__item" href="#" data-aos="fade-up">
                    <div class="team-thumbnails__list__item__photo">
                        <img class="team-thumbnails__list__item__photo__image" src="assets/img/team-photo-5.png"/>
                    </div>
                    <h3 class="team-thumbnails__list__item__name">Nikita Markov</h3>
                    <p class="team-thumbnails__list__item__post">Direction & Production</p>
                </a>
            </section>
            <section class="column">
                <a class="team-thumbnails__list__item" href="#" data-aos="fade-up">
                    <div class="team-thumbnails__list__item__photo">
                        <img class="team-thumbnails__list__item__photo__image" src="assets/img/team-photo-6.png"/>
                    </div>
                    <h3 class="team-thumbnails__list__item__name">Oleg De Saint Alexandrov</h3>
                    <p class="team-thumbnails__list__item__post">UI Design, Illustration</p>
                </a>
            </section>
        </div>
        <a class="team-thumbnails__link" href="#" data-aos="fade-up">
            <span class="team-thumbnails__link__text">All team</span>
            {{>icon-arrow}}
        </a>
    </div>
</section>