<section id="testimonial-slider">
    <h2 class="h1 text-center margin-bottom-3">How It Can Help Everyone</h2>
    <!-- slider code -->
    <div class="orbit testimonial-slider-container" role="region" aria-label="testimonial-slider" data-orbit>

        <div class="orbit-wrapper">
            <div class="orbit-controls">
                <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span><i class="fas fa-angle-left fa-3x"></i></button>
                <button class="orbit-next"><span class="show-for-sr">Next Slide</span><i class="fas fa-angle-right fa-3x"></i></button>
            </div>

            <ul class="orbit-container">
                <!-- content slide 1 -->
                <li class="is-active orbit-slide">
                    <div class="testimonial-slide grid-x">
                        <div class="small-10 large-8 cell">
                            <p class="h2 text-center margin-vertical-1">It Helps Me Personalize Service</p>
                            <div class="grid-x grid-margin-x align-middle testimonial-slide-content">
                                <div class="cell testimonial-slide-text">
                                    <p class="">« Hide when guests come over instantly break out into full speed
                                        gallop across the
                                        house for no reason mrow touch water with paw then recoil in horror. »</p>
                                    <div class="testimonial-slide-author-container">
                                        <p class="testimonial-slide-author-info">– Fleas Witherspoon • <i
                                                class="subheader">Cat World Inc.</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <!--content slide 2 -->
                <li class="orbit-slide">
                    <div class="testimonial-slide grid-x">
                        <div class="small-10 large-8 cell">
                            <p class="h2 text-center margin-vertical-1">It Helps Me Personalize Service</p>
                            <div class="grid-x grid-margin-x align-middle testimonial-slide-content">
                                <div class="cell testimonial-slide-text">
                                    <p class="">« Hide when guests come over instantly break out into full speed
                                        gallop across the
                                        house for no reason mrow touch water with paw then recoil in horror. »</p>
                                    <div class="testimonial-slide-author-container">
                                        <p class="testimonial-slide-author-info">– Fleas Witherspoon • <i
                                                class="subheader">Cat World Inc.</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- content slide 3 -->
                <li class="orbit-slide">
                    <div class="testimonial-slide grid-x">
                        <div class="small-10 large-8 cell">
                            <p class="h2 text-center margin-vertical-1">It Helps Me Personalize Service</p>
                            <div class="grid-x grid-margin-x align-middle testimonial-slide-content">
                                <div class="cell testimonial-slide-text">
                                    <p class="">« Hide when guests come over instantly break out into full speed
                                        gallop across the
                                        house for no reason mrow touch water with paw then recoil in horror. »</p>
                                    <div class="testimonial-slide-author-container">
                                        <p class="testimonial-slide-author-info">– Fleas Witherspoon • <i
                                                class="subheader">Cat World Inc.</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- content slide 4 -->
                <li class="orbit-slide">
                    <div class="testimonial-slide grid-x">
                        <div class="small-10 large-8 cell">
                            <p class="h2 text-center margin-vertical-1">It Helps Me Personalize Service</p>
                            <div class="grid-x grid-margin-x align-middle testimonial-slide-content">
                                <div class="cell testimonial-slide-text">
                                    <p class="">« Hide when guests come over instantly break out into full speed
                                        gallop across the
                                        house for no reason mrow touch water with paw then recoil in horror. »</p>
                                    <div class="testimonial-slide-author-container">
                                        <p class="testimonial-slide-author-info">– Fleas Witherspoon • <i
                                                class="subheader">Cat World Inc.</i>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- orbit-wrapper close -->
    </div>
    <!-- slider close --></section>
