<section class="testimonial-slider-img-left">
  <div class="testimonial-slider-img-left__content" data-aos="fade-up">
    <div class="testimonial-slider-img-left__content__slider owl-carousel">
      <section class="testimonial-slider-img-left__content__slider__item">
        <div class="testimonial-slider-img-left__content__slider__item__left">
          <div class="testimonial-slider-img-left__content__slider__item__left__image">
            <img class="testimonial-slider-img-left__content__slider__item__left__image__img" src="assets/img/webservice/extensions-item-image.png" srcset="assets/img/webservice/extensions-item-image.png 1x, assets/img/webservice/extensions-item-image-2x.png 2x" alt=""/></div>
        </div>
        <div class="testimonial-slider-img-left__content__slider__item__right">
          <h2 class="testimonial-slider-img-left__content__slider__item__right__title">Powerful Extensions</h2>
          <p class="testimonial-slider-img-left__content__slider__item__right__description">This article is floated online with an aim to help you find the best dvd printing solution. Dvd printing is an important feature</p>
          <a class="testimonial-slider-img-left__content__slider__item__right__more" href="#">Learn more
            {{>icon-arrow}}
          </a>
          <div class="testimonial-slider-img-left__content__slider__item__right__arrow">
            {{>icon-arrow}}
          </div>
        </div>
      </section>
      <section class="testimonial-slider-img-left__content__slider__item">
        <div class="testimonial-slider-img-left__content__slider__item__left">
          <div class="testimonial-slider-img-left__content__slider__item__left__image">
            <img class="testimonial-slider-img-left__content__slider__item__left__image__img" src="assets/img/webservice/extensions-item-image.png" srcset="assets/img/webservice/extensions-item-image.png 1x, assets/img/webservice/extensions-item-image-2x.png 2x" alt=""/></div>
        </div>
        <div class="testimonial-slider-img-left__content__slider__item__right">
          <h2 class="testimonial-slider-img-left__content__slider__item__right__title">Powerful Extensions</h2>
          <p class="testimonial-slider-img-left__content__slider__item__right__description">This article is floated online with an aim to help you find the best dvd printing solution. Dvd printing is an important feature</p><a class="testimonial-slider-img-left__content__slider__item__right__more" href="#">Learn more
            {{>icon-arrow}}
        </a>
          <div class="testimonial-slider-img-left__content__slider__item__right__arrow">
            {{>icon-arrow}}
          </div>
        </div>
      </section>
      <section class="testimonial-slider-img-left__content__slider__item">
        <div class="testimonial-slider-img-left__content__slider__item__left">
          <div class="testimonial-slider-img-left__content__slider__item__left__image">
            <img class="testimonial-slider-img-left__content__slider__item__left__image__img" src="assets/img/webservice/extensions-item-image.png" srcset="assets/img/webservice/extensions-item-image.png 1x, assets/img/webservice/extensions-item-image-2x.png 2x" alt=""/></div>
        </div>
        <div class="testimonial-slider-img-left__content__slider__item__right">
          <h2 class="testimonial-slider-img-left__content__slider__item__right__title">Powerful Extensions</h2>
          <p class="testimonial-slider-img-left__content__slider__item__right__description">This article is floated online with an aim to help you find the best dvd printing solution. Dvd printing is an important feature</p>
          <a class="testimonial-slider-img-left__content__slider__item__right__more" href="#">Learn more
            {{>icon-arrow}}
          </a>
          <div class="testimonial-slider-img-left__content__slider__item__right__arrow">
            {{>icon-arrow}}
          </div>
        </div>
      </section>
      <section class="testimonial-slider-img-left__content__slider__item">
        <div class="testimonial-slider-img-left__content__slider__item__left">
          <div class="testimonial-slider-img-left__content__slider__item__left__image">
            <img class="testimonial-slider-img-left__content__slider__item__left__image__img" src="assets/img/webservice/extensions-item-image.png" srcset="assets/img/webservice/extensions-item-image.png 1x, assets/img/webservice/extensions-item-image-2x.png 2x" alt=""/></div>
        </div>
        <div class="testimonial-slider-img-left__content__slider__item__right">
          <h2 class="testimonial-slider-img-left__content__slider__item__right__title">Powerful Extensions</h2>
          <p class="testimonial-slider-img-left__content__slider__item__right__description">This article is floated online with an aim to help you find the best dvd printing solution. Dvd printing is an important feature</p><a class="testimonial-slider-img-left__content__slider__item__right__more" href="#">Learn more
          {{>icon-arrow}}
        </a>
          <div class="testimonial-slider-img-left__content__slider__item__right__arrow">
            {{>icon-arrow}}
          </div>
        </div>
      </section>
      <section class="testimonial-slider-img-left__content__slider__item">
        <div class="testimonial-slider-img-left__content__slider__item__left">
          <div class="testimonial-slider-img-left__content__slider__item__left__image">
            <img class="testimonial-slider-img-left__content__slider__item__left__image__img" src="assets/img/webservice/extensions-item-image.png" srcset="assets/img/webservice/extensions-item-image.png 1x, assets/img/webservice/extensions-item-image-2x.png 2x" alt=""/></div>
        </div>
        <div class="testimonial-slider-img-left__content__slider__item__right">
          <h2 class="testimonial-slider-img-left__content__slider__item__right__title">Powerful Extensions</h2>
          <p class="testimonial-slider-img-left__content__slider__item__right__description">This article is floated online with an aim to help you find the best dvd printing solution. Dvd printing is an important feature</p>
          <a class="testimonial-slider-img-left__content__slider__item__right__more" href="#">Learn more
          {{>icon-arrow}}
          </a>
          <div class="testimonial-slider-img-left__content__slider__item__right__arrow">
            {{>icon-arrow}}
          </div>
        </div>
      </section>
    </div>
  </div>
</section>