<section class="testimonial-slider-avatars" data-aos="fade-up">
  <div class="testimonial-slider-avatars__container container">
    <h2 class="h1 testimonial-slider-avatars__title">How It Can Help Everyone</h2>
    <div class="testimonial-slider-avatars__people"><a class="testimonial-slider-avatars__people__item is-active" href="#">
      <span class="testimonial-slider-avatars__people__item__photo">
        <img class="testimonial-slider-avatars__people__item__photo__image" src="assets/img/webapp2/photo-1.png" srcset="assets/img/webapp2/photo-1.png 1x, assets/img/webapp2/photo-1-2x.png 2x" alt=""/>
      </span>
      <span class="testimonial-slider-avatars__people__item__name h6">Yuliya Petrova</span>
    </a>
      <a class="testimonial-slider-avatars__people__item" href="#">
        <span class="testimonial-slider-avatars__people__item__photo">
          <img class="testimonial-slider-avatars__people__item__photo__image" src="assets/img/webapp2/photo-2.png" srcset="assets/img/webapp2/photo-2.png 1x, assets/img/webapp2/photo-2-2x.png 2x" alt=""/>
        </span>
        <span class="testimonial-slider-avatars__people__item__name h6">Nikita Markov</span>
      </a>
      <a class="testimonial-slider-avatars__people__item" href="#">
        <span class="testimonial-slider-avatars__people__item__photo">
          <img class="testimonial-slider-avatars__people__item__photo__image" src="assets/img/webapp2/photo-3.png" srcset="assets/img/webapp2/photo-3.png 1x, assets/img/webapp2/photo-3-2x.png 2x" alt=""/>
        </span>
        <span class="testimonial-slider-avatars__people__item__name h6">Alexey Rybin</span>
      </a>
      <a class="testimonial-slider-avatars__people__item" href="#">
        <span class="testimonial-slider-avatars__people__item__photo">
        <img class="testimonial-slider-avatars__people__item__photo__image" src="assets/img/webapp2/photo-4.png" srcset="assets/img/webapp2/photo-4.png 1x, assets/img/webapp2/photo-4-2x.png 2x" alt=""/>
      </span>
        <span class="testimonial-slider-avatars__people__item__name h6">Artem Tarasov</span>
      </a>
      <a class="testimonial-slider-avatars__people__item" href="#">
        <span class="testimonial-slider-avatars__people__item__photo"><img class="testimonial-slider-avatars__people__item__photo__image" src="assets/img/webapp2/photo-5.png" srcset="assets/img/webapp2/photo-5.png 1x, assets/img/webapp2/photo-5-2x.png 2x" alt=""/>
      </span>
        <span class="testimonial-slider-avatars__people__item__name h6">Yuri Yasyuk</span>
      </a>
    </div>
  </div>
  <div class="testimonial-slider-avatars__slider owl-carousel">
    <div class="testimonial-slider-avatars__slider__item">
      <h3 class="testimonial-slider-avatars__slider__item__title">It Helps Me Personalize Service</h3>
      <p class="testimonial-slider-avatars__slider__item__text">"The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message"</p>
      <p class="testimonial-slider-avatars__slider__item__sign">— Yulia Petrova, Designer in GS Studio</p>
    </div>
    <div class="testimonial-slider-avatars__slider__item">
      <h3 class="testimonial-slider-avatars__slider__item__title">It Helps Me Personalize Service</h3>
      <p class="testimonial-slider-avatars__slider__item__text">"The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message"</p>
      <p class="testimonial-slider-avatars__slider__item__sign">— Nikita Markov, Designer in GS Studio</p>
    </div>
    <div class="testimonial-slider-avatars__slider__item">
      <h3 class="testimonial-slider-avatars__slider__item__title">It Helps Me Personalize Service</h3>
      <p class="testimonial-slider-avatars__slider__item__text">"The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message"</p>
      <p class="testimonial-slider-avatars__slider__item__sign">— Alexey Rybin, Designer in GS Studio</p>
    </div>
    <div class="testimonial-slider-avatars__slider__item">
      <h3 class="testimonial-slider-avatars__slider__item__title">It Helps Me Personalize Service</h3>
      <p class="testimonial-slider-avatars__slider__item__text">"The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message"</p>
      <p class="testimonial-slider-avatars__slider__item__sign">— Artem Tarasov, Designer in GS Studio</p>
    </div>
    <div class="testimonial-slider-avatars__slider__item">
      <h3 class="testimonial-slider-avatars__slider__item__title">It Helps Me Personalize Service</h3>
      <p class="testimonial-slider-avatars__slider__item__text">"The world has become so fast paced that people don’t want to stand by reading a page of information, they would much rather look at a presentation and understand the message"</p>
      <p class="testimonial-slider-avatars__slider__item__sign">— Yuri Yasyuk, Designer in GS Studio</p>
    </div>
  </div>
</section>