<section class="testimonial-slider-img">
  <div class="testimonial-slider-img__container container">
    <div class="testimonial-slider-img__content__wrap" data-aos="fade-up">
      <div class="testimonial-slider-img__content owl-carousel">
        <div class="testimonial-slider-img__content__item">
          <div class="testimonial-slider-img__content__item__left">
            <div class="testimonial-slider-img__content__item__left__image">
              <img class="testimonial-slider-img__content__item__left__image__item" src="assets/img/webapp/slider-user-01.png"/>
              <div class="testimonial-slider-img__content__item__left__image__icon">
                {{>icon-slack}}
              </div>
            </div>
          </div>
          <div class="testimonial-slider-img__content__item__right">
            <div class="testimonial-slider-img__content__item__right__quote small-quote">“Just started using awesome Module. Great way to boost the hard designing or prototyping process. Also a perfect tool for creative studios and freelancers”</div>
            <h3 class="testimonial-slider-img__content__item__right__name">Irina Bykova</h3>
            <div class="testimonial-slider-img__content__item__right__company">Photographer, works with Slack team</div>
          </div>
        </div>
        <div class="testimonial-slider-img__content__item">
          <div class="testimonial-slider-img__content__item__left">
            <div class="testimonial-slider-img__content__item__left__image">
              <img class="testimonial-slider-img__content__item__left__image__item" src="assets/img/webapp/slider-user-01.png"/>
              <div class="testimonial-slider-img__content__item__left__image__icon">
                {{>icon-slack}}
              </div>
            </div>
          </div>
          <div class="testimonial-slider-img__content__item__right">
            <div class="testimonial-slider-img__content__item__right__quote small-quote">“Just started using awesome Module. Great way to boost the hard designing or prototyping process. Also a perfect tool for creative studios and freelancers”</div>
            <h3 class="testimonial-slider-img__content__item__right__name">Irina Bykova</h3>
            <div class="testimonial-slider-img__content__item__right__company">Photographer, works with Slack team</div>
          </div>
        </div>
      </div>
      <div class="testimonial-slider-img__nav__prev">
        {{>slider-nav}}
      </div>
      <div class="testimonial-slider-img__nav__next">
        {{>slider-nav}}
      </div>
    </div>
  </div>
</section>