<section class="testimonial-slider testimonial-slider-dark">
    <!-- slider code -->
    <div class="orbit testimonial-slider-container" role="region" aria-label="testimonial-slider" data-orbit>
        <nav class="orbit-bullets margin-bottom-2">
            <button id="amazon" class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
            <button id="github" data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
            <button id="google" data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
            <button id="netflix" data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
        </nav>
        <div class="orbit-wrapper">
            <div class="orbit-controls">
                <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span><i class="fas fa-angle-left fa-3x"></i></button>
                <button class="orbit-next"><span class="show-for-sr">Next Slide</span><i class="fas fa-angle-right fa-3x"></i></button>
            </div>

            <ul class="orbit-container">
                <!-- content slide 1 -->
                <li class="is-active orbit-slide">
                    <div class="testimonial-slide grid-x">
                        <div class="small-10 large-8 cell">
                            <div class="grid-x grid-margin-x align-middle testimonial-slide-content-large">
                                <div class="cell testimonial-slide-text">
                                    <p class="small-quote text-center">«I do however want to bore you by telling you in excruciating detail the story behind our name. It’s Great Simple Studio.»</p>
                                    <h2 class="h3 text-center margin-bottom-0">Nikita Markov</h2>
                                    <p class="text-center">Direction & Production</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <!--content slide 2 -->
                <li class="orbit-slide">
                    <div class="testimonial-slide grid-x">
                        <div class="small-10 large-8 cell">
                            <div class="grid-x grid-margin-x align-middle testimonial-slide-content-large">
                                <div class="cell testimonial-slide-text">
                                    <p class="small-quote text-center">«We push ourselves to new levels of inspired excellence with each project and we sweat creativity. You won’t see anything until we’re done drooling at the result.»</p>
                                    <h2 class="h3 text-center margin-bottom-0">Alexey Rybin</h2>
                                    <p class="text-center">Creative director in GSST</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- content slide 3 -->
                <li class="orbit-slide">
                    <div class="testimonial-slide grid-x">
                        <div class="small-10 large-8 cell">
                            <div class="grid-x grid-margin-x align-middle testimonial-slide-content-large">
                                <div class="cell testimonial-slide-text">
                                    <div class="cell testimonial-slide-text">
                                        <p class="small-quote text-center">«Our platform helps you save, share and organise your favourite stories from around the web, turning your bookmarks into the ultimate content marketing tool.»</p>
                                        <h2 class="h3 text-center margin-bottom-0">Winifred Conner</h2>
                                        <p class="text-center">UI Design, Illustration</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <!-- content slide 4 -->
                <li class="orbit-slide">
                    <div class="testimonial-slide grid-x">
                        <div class="small-10 large-8 cell">
                            <div class="grid-x grid-margin-x align-middle testimonial-slide-content-large">
                                <div class="cell testimonial-slide-text">
                                    <p class="small-quote text-center">«We are GSST, a colorful-fun-messy-crazy graphic design studio working on motion, print, illustrations, design and stuff.»</p>
                                    <h2 class="h3 text-center margin-bottom-0">Vika Mac</h2>
                                    <p class="text-center">UI Design, Illustration</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- orbit-wrapper close -->
    </div>
    <!-- slider close -->
</section>
