<section class="section grid-container">
    <div class="grid-x grid-margin-x align-middle">
        <div class="cell medium-6" data-aos="fade-up">
            <h2 class="h1 centered-on-mobile">What Is Foundation?</h2>
            <p class="subheading paragraph centered-on-mobile margin-bottom-on-mobile">A Framework for any device, medium, and accessibility. Foundation is a family of responsive front-end frameworks that make it easy to design beautiful responsive websites, apps and emails that look amazing on any device.</p>
        </div>
        <div class="cell medium-6" data-aos="fade-up">
            <div class="responsive-embed margin-bottom-0">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/JC6xMe_2EFE" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>

