<section class="text-video-2">
  <div class="text-video-2__container container">
    <div class="text-video-2__row">
      <div class="text-video-2__column-left" data-aos="fade-up">
        <h1 class="text-video-2__title">What Is Module?</h1>
        <div class="text-video-2__subheading subheading">I hate peeping Toms. For one thing they usually step all over the hedges and plants on the side of someone’s house killing them</div>
        <div class="text-video-2__icons">
          <span class="text-video-2__icon text-video-2__icon--sketch">
            {{>icon-sketch}}
          </span>
          <span class="text-video-2__icon text-video-2__icon--photoshop">
            {{>icon-photoshop}}
          </span>
        </div>
      </div>
      <div class="text-video-2__column-right" data-aos="fade-up">
        <a class="text-video-2__video" href="#">
          <img class="text-video-2__video__image" src="assets/img/webapp2/video-image.jpg"/>
        </a>
      </div>
    </div>
  </div>
  <div class="text-video-2__video__popup is-hidden">
    <div class="text-video-2__video__popup__item">
      <script src="https://player.vimeo.com/api/player.js"></script>
      <iframe class="text-video-2__video__popup__item__frame" id="video-frame" src="https://player.vimeo.com/video/195862890?title=0&amp;byline=0&amp;portrait=0" width="960" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="text-video-2__video__popup__close">
      {{>icon-cross}}
    </div>
  </div>
</section>