<section class="testimonial-cards">
  <div class="testimonial-cards__container container grid-container">
    <h2 class="h1 testimonial-cards__title" data-aos="fade-up">What People Are Saying</h2>

    <div class="testimonial-cards__row">
      <section class="testimonial-cards__item" data-aos="fade-up">
        <header>
            <div class="testimonial-cards__item__photo">
                <img class="testimonial-cards__item__photo__image" src="assets/img/photo-1.png" alt="" srcset="assets/img/photo-1.png 1x, assets/img/photo-1-2x.png 2x"/>
            </div>
            <h3 class="testimonial-cards__item__name">Yuri Yasyuk</h3>
            <p class="testimonial-cards__item__post">Designer</p>
            <a class="testimonial-cards__item__twitter" href="#">
                <i class="icon fab fa-twitter"></i>
            </a>
        </header>
        <p class="testimonial-cards__item__text">Having prototyping that is so fast and easy changed my design process</p>
      </section>

      <section class="testimonial-cards__item" data-aos="fade-up">
        <header>
            <div class="testimonial-cards__item__photo">
                <img class="testimonial-cards__item__photo__image" src="assets/img/photo-4.png" alt="" srcset="assets/img/photo-4.png 1x, assets/img/photo-4-2x.png 2x"/>
            </div>
            <h3 class="testimonial-cards__item__name">Oleg Alexandrov</h3>
            <p class="testimonial-cards__item__post">Designer</p>
            <a class="testimonial-cards__item__twitter" href="#">
                <i class="icon fab fa-twitter"></i>
            </a>
        </header>
        <p class="testimonial-cards__item__text">Sign up and quickly get up and running with examples, tutorials, documentation, and a helpful community</p>
      </section>

      <section class="testimonial-cards__item" data-aos="fade-up">
        <header>
            <div class="testimonial-cards__item__photo"><img class="testimonial-cards__item__photo__image" src="assets/img/photo-2.png" alt="" srcset="assets/img/photo-2.png 1x, assets/img/photo-2-2x.png 2x"/></div>
            <h3 class="testimonial-cards__item__name">Yuliya Petrova</h3>
            <p class="testimonial-cards__item__post">Designer</p>
            <a class="testimonial-cards__item__twitter" href="#">
                <i class="icon fab fa-twitter"></i>
            </a>
        </header>
        <p class="testimonial-cards__item__text">Really impressive approach to a currently siloed and broken model of interactive prototyping</p>
      </section>

      <section class="testimonial-cards__item" data-aos="fade-up">
        <header>
            <div class="testimonial-cards__item__photo"><img class="testimonial-cards__item__photo__image" src="assets/img/photo-5.png" alt="" srcset="assets/img/photo-5.png 1x, assets/img/photo-5-2x.png 2x"/></div>
            <h3 class="testimonial-cards__item__name">Alexey Rybin</h3>
            <p class="testimonial-cards__item__post">Creative Director</p>
            <a class="testimonial-cards__item__twitter" href="#">
                <i class="icon fab fa-twitter"></i>
            </a>
        </header>
        <p class="testimonial-cards__item__text">The world has become so fast paced that people don’t want to stand by reading a page of information, they would</p>
      </section>

      <section class="testimonial-cards__item" data-aos="fade-up">
        <header>
            <div class="testimonial-cards__item__photo"><img class="testimonial-cards__item__photo__image" src="assets/img/photo-3.png" alt="" srcset="assets/img/photo-3.png 1x, assets/img/photo-3-2x.png 2x"/></div>
            <h3 class="testimonial-cards__item__name">Nikita Markov</h3>
            <p class="testimonial-cards__item__post">DJ</p>
            <a class="testimonial-cards__item__twitter" href="#">
                <i class="icon fab fa-twitter"></i>
            </a>
        </header>
        <p class="testimonial-cards__item__text">Atomic allows me to explore and validate ideas quickly, and helps others to understand them more easily</p>
      </section>

      <section class="testimonial-cards__item" data-aos="fade-up">
        <header>
            <div class="testimonial-cards__item__photo"><img class="testimonial-cards__item__photo__image" src="assets/img/photo-6.png" alt="" srcset="assets/img/photo-6.png 1x, assets/img/photo-6-2x.png 2x"/></div>
            <h3 class="testimonial-cards__item__name">Artem Tarasov</h3>
            <p class="testimonial-cards__item__post">Designer</p>
            <a class="testimonial-cards__item__twitter" href="#">
                <i class="icon fab fa-twitter"></i>
            </a>
        </header>
        <p class="testimonial-cards__item__text">Some people sometimes view hobbies as sometimes silly or frivolous pastimes.</p>
      </section>
    </div>

  </div>
</section>