<section class="video">
  <div class="video__container container">
    <h2 class="video__title" data-aos="fade-up">Keeping Your Home Secure</h2>
    <p class="video__description" data-aos="fade-up">No need to worry about daytime or nighttime settings. Canary’s night vision is automatically activated by low-light situations</p>
    <div class="video__video" data-aos="fade-up">
      <img class="video__video__image" src="assets/img/ecommerce3/secure-video-img.jpg"/>
      <div class="video__video__icon"></div>
    </div>
  </div>
  <div class="video__video__popup is-hidden">
    <div class="video__video__popup__item">
      <script src="https://player.vimeo.com/api/player.js"></script>
      <iframe class="video__video__popup__item__frame" id="video-frame" src="https://player.vimeo.com/video/195862890?title=0&amp;byline=0&amp;portrait=0" width="960" frameborder="0" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" allowfullscreen="allowfullscreen"></iframe>
    </div>
    <div class="video__video__popup__close">
      <i class="fas fa-times color-white"></i>
    </div>
  </div>
</section>