// Palette Bulma
$orange:       hsl(14,  100%, 53%);
$yellow:       hsl(48,  100%, 67%);
$green:        hsl(141, 71%,  48%);
$turquoise:    hsl(171, 100%, 41%);
$cyan:         hsl(204, 86%,  53%);
$blue:         hsl(217, 71%,  53%);
$purple:       hsl(271, 100%, 71%);
$red:          hsl(348, 100%, 61%);
$black:        hsl(0, 0%, 4%);
$black-bis:    hsl(0, 0%, 7%);
$black-ter:    hsl(0, 0%, 14%);
$grey-darker:  hsl(0, 0%, 21%);
$grey-dark:    hsl(0, 0%, 29%);
$grey:         hsl(0, 0%, 48%);
$grey-light:   hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);;
$white-bis:    hsl(0, 0%, 98%);
$white:        hsl(0, 0%, 100%);
$foundation-palette: (
    primary: $turquoise,
    secondary: $blue,
    info: $cyan,
    success: $green,
    warning: $yellow,
    alert: $red,
);
$light-gray: $grey-light;
$medium-gray: $grey;
$dark-gray: $grey-dark;
$text-heading: $grey-darker;
$text-primary: $grey-dark;
$text-secondary: $grey;
$text-placeholder: $grey-light;
$text-muted: $grey-light;
// End Palette Bulma

$message-primary-bg-opacity : 52;
$message-secondary-bg-opacity: 42;
$message-success-bg-opacity: 45;
$message-warning-bg-opacity: 30;
$message-alert-bg-opacity: 35;

$colors-list: (
orange:       hsl(14,  100%, 53%),
yellow:       hsl(48,  100%, 67%),
green:        hsl(141, 71%,  48%),
turquoise:    hsl(171, 100%, 41%),
cyan:         hsl(204, 86%,  53%),
blue:         hsl(217, 71%,  53%),
purple:       hsl(271, 100%, 71%),
red:          hsl(348, 100%, 61%),
black:        hsl(0, 0%, 4%),
black-bis:    hsl(0, 0%, 7%),
black-ter:    hsl(0, 0%, 14%),
grey-darker:  hsl(0, 0%, 21%),
grey-dark:    hsl(0, 0%, 29%),
grey:         hsl(0, 0%, 48%),
grey-light:   hsl(0, 0%, 71%),
grey-lighter: hsl(0, 0%, 86%),
white-bis:    hsl(0, 0%, 98%),
white:        hsl(0, 0%, 100%),
primary:      $turquoise,
secondary:    $blue,
info:         $cyan,
success:      $green,
warning:      $yellow,
alert:        $red,
);

@each $key, $value in $colors-list {
  .color-#{$key} {
    color: $value !important;
  }

  .bg-#{$key} {
    background-color: $value !important;
  }
}