.header-register {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../img/header-register-bg.jpg") 50% 0 no-repeat;
  background-size: cover;

  .header__middle {

    &__title,
    &__subheading {
      @include breakpoint(mobile down) {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .header__bottom {
    @include breakpoint(medium) {
      width: rem-calc(600);
    }
    @include breakpoint(large) {
      width: rem-calc(750);
    }
    p {
      @include breakpoint(mobile down) {
        max-width: 230px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .hamburger {
    &__header {
      &__close {
        right: rem-calc(15);
        top: rem-calc(50);

        @include breakpoint(360 down) {
          right: rem-calc(20);
        }
      }
    }
  }

}
